@use '#Sass/abstracts/animations' as a;
@use '#Sass/abstracts/colors' as c;
@use '#Sass/abstracts/functions' as f;
@use '#Sass/abstracts/media-queries' as mq;
@use '#Sass/abstracts/mixins' as mx;
@use '#Sass/abstracts/variables' as v;
@use '#Sass/components/buttons' as btn;

.container {
  margin: auto 0;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: f.px2em(24);
  height: fit-content;
  padding: f.px2em(32);
  margin: v.$margin-forms;
  background-color: var(--thm-form-bg);
  border-radius: v.$border-radius-forms;
  transition: a.$Theme-transition-bg;

  @include mq.media(mobile-all) {
    padding: f.px2em(24);
  }

  &__title {
    @include mx.header-l;
    color: var(--thm-form-header-text);
    transition: a.$Theme-transition-color;
  }

  &__group {
    & > P {
      @include mx.body-m;
      color: c.$col-1g;
      margin-bottom: f.px2em(8);
    }
  }

  &__subTasks {
    display: flex;
    flex-direction: column;
    row-gap: f.px2em(12);
    margin-bottom: f.px2em(12);
  }

  &__btnNewSubTask {
    @include btn.btn-secondary;
    width: 100%;
  }

  &__btnCreateTask {
    @include btn.btn-primary-s;
  }
}
