.container {
  position: relative;
  font-weight: 700;
}

.dataBar {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-bottom: 32px;

  &__dateBtn {
    display: flex;
    justify-content: center;
    align-content: center;
    font-weight: 700;
  }

  & > button {
    font-weight: 700;
    // NOTE:  Need to amend - see Todo notes/amending global styles.
    background-color: transparent;
    & > img {
      height: fit-content;
    }
    &:disabled > img {
      opacity: 25%;
    }
  }
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: 1fr;
  justify-items: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;

  &__date {
    // NOTE:  Need to amend - see Todo notes/amending global styles.
    background-color: transparent;
    &:hover {
      background-color: lightblue;
    }
    &--active {
      background-color: rgb(106, 106, 245);
    }
    &--outOfBounds {
      color: lightgray;
      &:hover {
        background-color: transparent;
      }
    }
  }
}

.buttonsBar {
  display: flex;
  justify-content: space-between;
  align-content: center;

  & > button {
    // NOTE:  Need to amend - see Todo notes/amending global styles.
    background-color: transparent;
  }
}
