@use 'variables' as *;

.create-todo {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: transparent;
  box-shadow: 0 10px 30px 10px hsla(0, 0%, 0%, 0.1);
  border-radius: 3px;
  margin-bottom: 1.5rem;
  @media (max-width: $tablet) {
    height: 55px;
  }
}

input[type='text'] {
  border: none;
  font-weight: 400;
  color: $LT__Dark-grayish-blue;
  &::placeholder {
    color: inherit;
  }
  &:focus {
    outline: none;
  }
  @media (max-width: $tablet) {
    font-size: 0.75rem;
  }
}
