/* -----|| Contents ||-----         */
/* ------------------------         */
/*   1. || Imports                  */
/*   2. || App                      */
/*   3. || Light-Dark Themes        */
/*   4. || FrontEnd Mentor Footer   */
/* -------------------------------- */

/*   FrontEndMentor Challenge       */
/*   #To Do App                     */
/*   version:   1.0                 */
/*   date:      02/03/2022          */
/*   author:    Simon Stranks       */
/*   website:   github.com/SStranks */

/*   1. || Imports                  */
@use 'globals';
@use 'variables';
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

/*   2. || App                      */
#root {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  overflow: hidden;
}

.header-background {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: variables.$LT__Very-light-gray;
  background-image: url('/assets/bg-desktop-light.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: 0;
  transition: all 1s ease;
  @media (max-width: variables.$desktop-s) {
    background-size: 125%;
  }
  @media (max-width: variables.$tablet) {
    background-size: auto 200px;
  }
}

header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: max(40%, 575px);
  margin-bottom: 3rem;
  z-index: 1;
  & button {
    width: 30px;
    height: 30px;
    padding: 0;
    background-color: transparent;
    background-image: url('/assets/icon-moon.svg');
    background-repeat: no-repeat;
    background-position: center;
    transition: all 1s;
    &:hover {
      transform: scale(120%);
    }
  }
  @media (max-width: variables.$tablet) {
    width: 80%;
    margin-bottom: 1.5rem;
  }
}

main {
  position: relative;
  width: max(40%, 575px);
  & span {
    font-size: 0.85rem;
    color: variables.$LT__Dark-grayish-blue;
    margin: 0 auto;
  }
  @media (max-width: variables.$tablet) {
    width: 80%;
  }
}

h1 {
  display: inline;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 0.7ch;
  color: variables.$White;
  @media (max-width: variables.$tablet) {
    font-size: 1.75rem;
  }
}

.card {
  background-color: variables.$White;
  padding: 0 1.5rem;
  transition: background-color 1s ease;
  & input[type='checkbox'] {
    cursor: pointer;
    display: grid;
    place-content: center;
    appearance: none;
    margin: 0;
    width: 25px;
    min-width: 25px;
    height: 25px;
    border: 2px solid variables.$LT__Light-grayish-blue;
    border-radius: 50%;
    margin-right: 1rem;
    &:not(:checked):hover {
      transition: all 0.5s ease;
      border: 2px solid transparent;
      background: linear-gradient(variables.$Gradient1, variables.$Gradient2)
        border-box;
      mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
      mask-composite: exclude;
    }
    &:checked::before {
      content: '';
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background-image: url('/assets/icon-check.svg'),
        linear-gradient(135deg, variables.$Gradient1, variables.$Gradient2);
      background-repeat: no-repeat;
      background-position: center;
      background-size: auto;
    }
  }
  @media (max-width: variables.$tablet) {
    background-size: 125%;
  }
}

.instruction {
  display: block;
  font-weight: 400;
  text-align: center;
  margin-top: 2.5rem;
  @media (max-width: variables.$tablet) {
    margin-top: 3.5rem;
  }
}

/*   3. || Light-Dark Themes        */
.dark-button {
  background-image: url('/assets/icon-sun.svg');
}

.dark-header {
  background-color: variables.$DT__Very-dark-blue;
  background-image: url('/assets/bg-desktop-dark.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}

.dark-card {
  background-color: variables.$DT__Very-dark-desaturated-blue;
}

/*   4. || FrontEnd Mentor Footer   */
footer {
  position: relative;
  height: fit-content;
}

.attribution {
  position: absolute;
  display: block;
  left: 50%;
  bottom: 0;
  width: 100%;
  font-size: 0.7em;
  font-weight: 300;
  text-align: center;
  color: variables.$LT__Very-dark-grayish-blue;
  margin: 0 auto;
  transform: translate(-50%, -45%);
  z-index: 3;
  & a {
    color: variables.$Gradient2;
    // transition: all s ease;
    &:hover {
      background: linear-gradient(variables.$Gradient1, variables.$Gradient2);
      color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
      transition: all 1s ease;
      text-decoration: none;
    }
  }
  @media (max-width: variables.$mobile-l) {
    font-size: 0.4rem;
    padding: 0 3.5rem;
  }
  @media (max-width: variables.$mobile-m) {
    font-size: 0.4rem;
    padding: 0 3rem;
  }
  @media (max-width: variables.$mobile-s) {
    font-size: 0.35rem;
    padding: 0 2rem;
  }
}
