@use '#Sass/variables' as *;
@use '#Sass/mixins' as *;
@use '#Sass/functions' as f;

.button {
  @include btn-default;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 150px;
  padding: 8px;
  background-color: $color-1a;

  &:hover {
    background-color: $color-1b;
  }

  & > p {
    flex-grow: 1;
    margin: 0 f.px2em(14);

    & > span {
      @include media(tablet-small, mobile-all) {
        display: none;
      }
    }
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: $white;

    & > img {
      width: 10px;
      height: auto;
    }
  }
}

.hidden {
  display: none;
}
