@use '../../../assets/sass/variables' as *;
@use '../../../assets/sass/mixins' as *;
@use '../../../assets/sass/functions' as f;

.form {
  @include card;
  padding: 0 f.px2em(42) f.px2em(42) f.px2em(42);

  &__title {
    margin-bottom: f.px2em(32);
    font-size: f.px2rem(24);
    font-weight: 700;
    color: $navy-blue;
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: radial-gradient(
      128.88% 128.88% at 103.9% -10.39%,
      #e84d70 0%,
      #a337f6 53.09%,
      #28a7ed 100%
    );

    & img {
      margin: auto;
      height: 32px;
    }
  }

  &__feedback,
  &__category,
  &__detail {
    margin-bottom: f.px2em(24);

    h4 {
      color: $navy-blue;
    }

    p {
      @include body-2;
      color: $mute-blue;
      margin-bottom: f.px2em(16);
    }
  }

  &__feedback,
  &__category {
    input {
      @include textarea;
      height: 48px;
    }
  }

  &__detail {
    textarea {
      @include textarea;
      height: 96px;
    }
  }

  &__bar {
    display: flex;
    justify-content: flex-end;
    column-gap: 16px;

    & button {
      @include body-3;
      padding: f.px2em(16) f.px2em(36);
      background-color: $magenta;
      color: $white;

      &:first-child {
        background-color: $dark-blue;
      }
    }
  }
}
