@use '../../../assets/sass/variables' as *;
@use '../../../assets/sass/mixins' as *;
@use '../../../assets/sass/functions' as f;

.form {
  @include card;
  padding: 0 f.px2em(42) f.px2em(42) f.px2em(42);

  &__title {
    margin-bottom: f.px2em(27);
    font-size: f.px2rem(24);
    font-weight: 700;
    color: $navy-blue;
  }

  &__icon {
    transform: translateY(-50%);
    width: 56px;
    height: 56px;
  }

  &__feedback,
  &__category,
  &__detail {
    margin-bottom: f.px2em(24);

    & > h4 {
      color: $navy-blue;
    }

    & > p {
      @include body-4;
      color: $mute-blue;
      margin-bottom: f.px2em(16);
    }
  }

  &__feedback,
  &__category {
    input {
      @include textarea;
      height: 48px;
    }
  }

  &__bar {
    display: flex;
    justify-content: flex-end;
    column-gap: 16px;
  }
}
