// @use '#Sass/abstracts/colors' as c;
@use '#Sass/abstracts/functions' as f;
@use '#Sass/abstracts/media-queries' as mq;
@use '#Sass/abstracts/mixins' as mx;
@use '#Sass/components/buttons' as btn;

.card {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__img {
    border-radius: 8px;
  }

  &__title {
    @include mx.header-h5;
    margin: 40px 0 32px;
    text-align: center;
  }

  &__btn {
    @include btn.btn-default-1;
    text-align: center;
  }
}

/* -------------------------------- */
/*   Media Queries                  */
/* -------------------------------- */

.card {
  &__title {
    @include mq.media(tablet-mini) {
      font-size: f.px2rem(20);
    }

    @include mq.media(tablet-micro) {
      font-size: f.px2rem(18);
    }

    @include mq.media(mobile-all) {
      margin: 32px 0;
    }
  }
}
