@use '#Sass/abstracts/colors' as c;
@use '#Sass/abstracts/functions' as f;
@use '#Sass/abstracts/media-queries' as mq;
@use '#Sass/abstracts/mixins' as mx;
@use '#Sass/components/buttons' as btn;

.reverse {
  flex-direction: row-reverse;
  margin-left: 0;
  margin-right: f.px2em(125);
}

.card {
  display: flex;
  align-items: center;

  &__img {
    border-radius: 8px;
  }

  &__panel {
    margin-left: f.px2em(125);
  }

  &__new {
    @include mx.header-overline;
    margin-bottom: f.px2em(16);
    color: c.$col-1a;
  }

  &__title {
    @include mx.header-h2;
  }

  &__details {
    @include mx.body-regular;
    margin: f.px2em(32) 0 f.px2em(40);
  }

  &__link {
    @include btn.btn-default-1;
  }
}

/* -------------------------------- */
/*   Media Queries                  */
/* -------------------------------- */

.card {
  @include mq.media(desktop-mini, desktop-micro, tablet-all, mobile-all) {
    flex-direction: column;
    align-items: center;
    row-gap: 52px;
  }

  @include mq.media(desktop-mini, desktop-micro, tablet-all) {
    row-gap: 32px;
  }

  &__panel {
    @include mq.media(desktop-mini, desktop-micro, tablet-all, mobile-all) {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 0;
      text-align: center;
    }
  }
}
