@use '#Sass/abstracts/colors' as c;
@use '#Sass/abstracts/functions' as f;
@use '#Sass/abstracts/media-queries' as mq;
@use '#Sass/abstracts/mixins' as mx;

.grid {
  display: grid;
  grid-template-columns: minmax(20%, 40%) 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'img1 img3'
    'img2 img3';
  column-gap: 30px;
  row-gap: 32px;
  max-width: 1100px;
  margin: 0 auto;

  &__img {
    border-radius: 8px;
  }
}

.gridArea1 {
  grid-area: img1;
  // aspect-ratio: 89/56;
  height: 100%;
  max-width: 100%;
}

.gridArea2 {
  grid-area: img2;
  height: 100%;
  max-width: 100%;
  // aspect-ratio: 89/56;
}

.gridArea3 {
  grid-area: img3;
  // aspect-ratio: 635/592;
  height: 100%;
}

/* -------------------------------- */
/*   Media Queries                  */
/* -------------------------------- */

.grid {
  @include mq.media(tablet-all) {
    column-gap: 18px;
    row-gap: 20px;
  }

  @include mq.media(mobile-all) {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      'img1'
      'img2'
      'img3';
    row-gap: 20px;
    column-gap: 0;
  }
}

.gridArea1 {
  @include mq.media(tablet-all) {
    aspect-ratio: 277/174;
  }

  @include mq.media(mobile-all) {
    aspect-ratio: 109/58;
  }
}

.gridArea2 {
  @include mq.media(tablet-all) {
    aspect-ratio: 277/174;
  }

  @include mq.media(mobile-all) {
    aspect-ratio: 109/58;
  }
}

.gridArea3 {
  @include mq.media(tablet-all) {
    aspect-ratio: 395/368;
  }

  @include mq.media(mobile-all) {
    aspect-ratio: 327/368;
  }
}
