@use '#Sass/abstracts/colors' as c;
@use '#Sass/abstracts/functions' as f;
@use '#Sass/abstracts/media-queries' as mq;
@use '#Sass/abstracts/mixins' as mx;
@use '#Sass/abstracts/variables' as v;

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: transparent;
  border-radius: v.$border-radius-1;

  &:hover {
    & .card__img {
      transform: translateY(10px);
    }

    & .card__shop__text {
      color: c.$col-1a;
    }
  }

  &__bg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 204px;
    background-color: c.$col-1c;
    border-radius: v.$border-radius-1;
    z-index: 0;
  }

  &__img {
    object-fit: contain;
    max-height: 250px;
    transform: translateY(20px);
    transition: transform 0.2s ease-in;
  }

  &__name {
    @include mx.header-h6 using ($REM) {
      margin-bottom: f.px2emParent(10, $REM);
    }
    color: c.$col-2c;
    z-index: 1;
  }

  &__shop {
    display: flex;
    align-items: center;
    column-gap: 13px;
    margin-bottom: f.px2em(30);
    z-index: 1;

    &__text {
      @include mx.header-subtitle using ($REM) {
      }
      color: c.$col-3a;
    }

    &__img {
      height: 10px;
    }
  }
}

/* -------------------------------- */
/*   Media Queries                  */
/* -------------------------------- */

.card {
  &__bg {
    @include mq.media(tablet-mini, tablet-micro) {
      height: 165px;
    }

    @include mq.media(mobile-all) {
      height: 165px;
    }
  }

  &__img {
    @include mq.media(tablet-small) {
      max-height: 250px;
      transform: translateY(0);
    }

    @include mq.media(mobile-all) {
      max-height: 140px;
      transform: translateY(10px);
    }
  }
}
