// @use '#Sass/abstracts/colors' as c;
// @use '#Sass/abstracts/functions' as f;
@use '#Sass/abstracts/media-queries' as mq;

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
}

/* -------------------------------- */
/*   Media Queries                  */
/* -------------------------------- */

.list {
  @include mq.media(tablet-all) {
    column-gap: 10px;
  }

  @include mq.media(mobile-all) {
    grid-template-columns: 1fr;
    row-gap: 56px;
  }
}
