/* -------------------------------- */
/*           ~ Checkbox ~           */
/* -------------------------------- */
/*      [Audiophile eCommerce]      */
/* -------------------------------- */
/*   Frontend Mentor Challenge      */
/*   Difficulty: Guru               */
/*   [www.frontendmentor.io]        */
/* -------------------------------- */
/*   version:   1.0                 */
/*   date:      26/05/2023          */
/*   author:    Simon Stranks       */
/*   website:   github.com/SStranks */
/* -------------------------------- */

/*   Imports                        */
@use '../abstracts/functions' as f;
@use '../abstracts/colors' as c;
@use '../abstracts/mixins' as mx;
@use '../abstracts/variables' as v;
@use '../base/themes' as t;

/* -------------------------------- */
/*   Default                        */
/* -------------------------------- */

// Mixin to be included in span tag, inside label; hide default checkbox.
@mixin checkbox-subtask-checkbox {
  width: f.px2em(16);
  height: f.px2em(16);
  background-color: var(--thm-chkbox-default-chkbox-bg);
  box-shadow: 0 0 0 1px c.$col-1g;
  border-radius: v.$border-radius-chkbx-1;

  &:hover {
    background-color: var(--thm-chkbox-default-chkbox-bg);
  }

  &:checked {
    background-color: c.$col-1a;
  }
}

// Mixin to be applied to container (label tag)
@mixin checkbox-subtask-label {
  cursor: pointer;
  display: block;
  position: relative;
  padding: f.px2em(12) 0 f.px2em(12) f.px2em(44);
  color: c.$Black;
  background-color: var(--thm-chkbox-default-label-bg);
  border-radius: v.$border-radius-chkbx-1;

  &:hover {
    background-color: var(--thm-chkbox-default-label-hover-bg);
  }

  &:checked {
    background-color: var(--thm-chkbox-default-label-bg);
  }
}
