/* -------------------------------- */
/*   Dropdown                       */
/* -------------------------------- */
/*   ~~[PROJECT NAME]~~             */
/*   # [PROJECT DETAILS]            */
/* -------------------------------- */
/*   version:   1.0                 */
/*   date:      xx/xx/xxxx          */
/*   author:    Simon Stranks       */
/*   website:   github.com/SStranks */
/* -------------------------------- */

/*   Imports                        */
@use '../abstracts/functions' as f;
@use '../abstracts/colors' as c;
@use '../abstracts/mixins' as mx;
@use '../abstracts/variables' as v;
@use '../base/themes' as t;

/* -------------------------------- */
/*   Default                        */
/* -------------------------------- */

@mixin dropdown-default {
  @include mx.body-l;
  padding: f.px2em(8) 0 f.px2em(8) f.px2em(16);
  color: var(--thm-dropdown-default-text);
  background-color: var(--thm-dropdown-default-bg);
  border-radius: v.$border-radius-dropdown;
  border: 1px solid c.$col-2c;

  &:active {
    border: 1px solid c.$col-1a;
  }
}

@mixin dropdown-default-list {
  @include mx.body-l;
  padding: f.px2em(16);
  background-color: var(--thm-dropdown-default-list-bg);
  color: c.$col-1g;
  border-radius: v.$border-radius-dropdown-list;
}
