@use '../../assets/styles/variables' as *;
@use '../../assets/styles/mixins' as *;

button {
  width: 150px;
  height: 50px;
  border-radius: 5px;
  padding: 1rem 0;
  background-color: $Violet;

  & span {
    color: $White;
  }

  & img {
    filter: brightness(100);
  }

  &:hover {
    background-color: #939bf4;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: $Grey;
  }

  // @include media(
  //   desktop-large,
  //   desktop-medium,
  //   desktop-small,
  //   tablet-regular,
  //   tablet-small
  // ) {
  //   img {
  //     display: none;
  //   }
  // }
}

.btn-text {
  @include media(mobile-large, mobile-medium, mobile-small) {
    display: none;
  }
}

.btn-icon {
  @include media(
    desktop-large,
    desktop-medium,
    desktop-small,
    tablet-regular,
    tablet-small
  ) {
    display: none;
  }
}

.btn-icon-none {
  display: none;
}
