@use '../../assets/styles/variables' as *;

.button-custom {
  & button {
    width: 150px;
    height: 50px;
    border-radius: 5px;
    padding: 1rem 0;
    color: $White;
    background-color: $Violet;

    &:hover {
      background-color: #939bf4;
    }
  }
}
