@use '../../assets/styles/variables' as *;

.checkbox-control {
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
  margin: 0 20px;
  & input[type='checkbox'] {
    appearance: none;
    display: grid;
    place-content: center;
    margin: 0;
    background: $Light_Grey;
    font-family: inherit;
    width: 24px;
    height: 24px;
    border-radius: 2px;
    &:hover {
      background: $Fine_Violet;
    }
    &::before {
      content: '';
      width: 24px;
      height: 24px;
      transition: $Theme-transition;
    }
    &:checked::before {
      background: $Violet;
    }
  }
}
