@use '../../assets/styles/variables' as *;

.checkbox-control {
  display: grid;
  grid-template-columns: 1em auto;
  // gap: 0.5em;
  margin: 0 20px;
  color: $Very_Dark_Blue;
  & label {
    font-size: 16px;
    font-weight: 700;
    margin-left: 26px;
    padding-top: 2px;
  }
  & input[type='checkbox'] {
    appearance: none;
    display: grid;
    place-content: center;
    margin: 0;
    background: $Light_Grey;
    font-family: inherit;
    width: 24px;
    height: 24px;
    border-radius: 3px;
    &:hover {
      background: $Fine_Violet;
    }
    &::before {
      content: '';
      width: 24px;
      height: 24px;
      border-radius: inherit;
      transition: $Theme-transition;
    }
    &:checked::before {
      background: $Violet;
    }
  }
}
