@use '#Sass/variables' as *;
@use '#Sass/mixins' as *;
@use '#Sass/functions' as f;
@use '#Sass/animations' as a;

// Variables
$margin-btm: f.px2em(42);

.container {
  position: absolute;
  left: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 720px;
  background-color: var(--color-sidebar-panel);
  border-radius: $border-radius-4;
  z-index: f.z('modal-sidebar');
  transition: a.$Theme-transition;

  &__title {
    @include body-4;
    font-size: f.px2rem(30);
    margin-top: 36px;
    margin-left: 160px;
    margin-bottom: 48px;
    color: var(--color-text-h);
    transition: a.$Theme-transition;

    & > span {
      color: $color-2b;
    }
  }
}

.sidebar {
  position: relative;
  height: 100%;
  max-width: 100%;
  margin-right: 32px;
  padding: f.px2em(0) f.px2em(0) f.px2em(0) f.px2em(0);
  color: $color-2c;
  background-color: var(--color-sidebar-panel);
  transition: a.$Theme-transition;

  &__form {
    position: relative;
    height: 100%;
    // max-height: 100%;
    margin-left: f.px2em(160);
    padding-bottom: f.px2em(200);
    padding-right: f.px2em(16);
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 9px;
      background-color: $color-2a;

      &:hover {
        background-color: $color-2b;
      }
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    &__from {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;
      column-gap: f.px2em(24);
      margin-bottom: $margin-btm;

      & input[type='text'] {
        margin-top: f.px2em(10);
        margin-bottom: f.px2em(24);
      }

      & > p {
        margin-bottom: f.px2em(24);
        font-weight: 700;
        color: $color-1a;
      }

      &__street {
        grid-column: 1 / span 3;
      }
    }

    &__to {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;
      column-gap: f.px2em(24);
      margin-bottom: $margin-btm;

      & input[type='text'] {
        margin-top: f.px2em(10);
        margin-bottom: f.px2em(24);
      }

      &__name,
      &__email,
      &__address {
        grid-column: 1 / span 3;
      }

      & > p {
        margin-bottom: f.px2em(24);
        font-weight: 700;
        color: $color-1a;
      }
    }

    &__details {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
      column-gap: f.px2em(24);
      margin-bottom: $margin-btm;

      & input[type='text'] {
        margin-top: f.px2em(10);
        margin-bottom: f.px2em(24);
      }

      &__description {
        grid-column: 1 / span 2;
      }
    }

    &__itemlist {
      margin-bottom: $margin-btm;

      &__title {
        @include body-4;
        margin-bottom: f.px2em(16);
      }

      &__grid {
        display: grid;
        grid-template-columns: 215px 46px 100px 60px auto;
        grid-template-rows: auto;
        row-gap: f.px2em(18);
        column-gap: f.px2em(16);
        align-items: center;

        & > img {
          height: auto;
        }

        &__btnAddItem {
          grid-column: 1 / span 5;
          width: 100%;
        }

        &--col1 {
          grid-column: 1;
        }

        &--col2 {
          grid-column: 2;
        }

        &--col3 {
          grid-column: 3;
        }

        &--col4 {
          grid-column: 4;
        }

        &--col5 {
          grid-column: 5;
        }
      }
    }

    // position: relative;
    // height: 100%;
    // max-width: 100%;
    // margin-right: 32px;
    // padding: f.px2em(0) f.px2em(16) f.px2em(180) f.px2em(160);
    // color: $color-2c;
    // background-color: $white;
    // overflow-y: scroll;

    input[type='text'] {
      width: 100%;
      padding: f.px2em(15) f.px2em(20);
      background-color: var(--color-form-input-bg);
      border: 1px solid var(--color-form-input-border);
      border-radius: $border-radius-5;
      font-weight: 700;
      transition: a.$Theme-transition;

      &:focus {
        outline: none;
        border: 1px solid $color-1a;
      }
    }
  }

  &__buttons {
    display: flex;
    column-gap: f.px2em(8);
    width: 100%;
    justify-content: flex-end;

    &__editInvoice {
      display: flex;
      justify-content: flex-end;
      column-gap: f.px2em(8);
    }

    &__newInvoice {
      display: flex;
      justify-content: space-between;
      width: 100%;

      &__group {
        display: flex;
        column-gap: f.px2em(8);
      }
    }
  }
}
