@use '#Sass/abstracts/colors' as c;
@use '#Sass/abstracts/functions' as f;
@use '#Sass/abstracts/mixins' as mx;
@use '#Sass/abstracts/media-queries' as mq;
@use '#Sass/abstracts/variables' as v;
@use '#Sass/components/buttons' as btn;

.bgLeafTop {
  position: absolute;
  left: 0;
  height: fit-content;
  transform: translateY(50%);
  z-index: 0;
}

.bgLeafBottom {
  position: absolute;
  right: 0;
  height: fit-content;
  transform: rotate(180deg) translateY(50%);
  z-index: 0;
}

.hero {
  display: flex;
  position: relative;
  padding: f.px2em(145) f.px2em(95) 0;
  margin-bottom: f.px2em(160);
  background-color: c.$col-1a;
  background-image: url('~svg/desktop/bg-pattern-hero-home.svg'); // HACK:  Successful aliasing example
  background-position: center right;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: v.$border-radius-1;
  color: c.$col-1c;
  overflow: hidden;

  @include mq.media(tablet-all, mobile-all) {
    flex-direction: column;
    padding: f.px2em(60) f.px2em(60) 0;
  }

  &__info {
    max-width: 50%;
    margin-bottom: f.px2em(120);

    @include mq.media(tablet-all, mobile-all) {
      max-width: unset;
      text-align: center;
      margin-bottom: f.px2em(75);
    }

    & > h1 {
      @include mx.header-h1;
    }

    & > p {
      margin: f.px2em(35) 0;
      padding-right: f.px2em(150);

      @include mq.media(tablet-all, mobile-all) {
        padding: 0;
        margin: f.px2em(20) 0;
      }
    }

    & > button {
      @include btn.btn-primary;
      text-transform: uppercase;

      @include mq.media(tablet-all, mobile-all) {
        margin: 0 auto 0 auto;
      }
    }
  }

  & > img {
    position: absolute;
    right: 0;
    top: 0;
    height: fit-content;
    transform: translate(12%, -3%);

    @include mq.media(tablet-all, mobile-all) {
      position: relative;
      transform: unset;
    }
  }
}

.viewgrid {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-bottom: f.px2em(160);
  height: 640px;
  column-gap: 30px;
  row-gap: 24px;

  @include mq.media(
    tablet-extra-large,
    desktop-small,
    desktop-medium,
    desktop-large,
    desktop-xlarge
  ) {
    & > :nth-child(1) {
      grid-row: 1 / span 2;
    }
  }

  @include mq.media(tablet-all, mobile-all) {
    grid-template-columns: 1fr;
    grid-template-rows: 200px;
    margin-bottom: f.px2em(120);
  }
}

.qualities {
  display: flex;
  position: relative;
  z-index: 1;

  @include mq.media(tablet-all, mobile-all) {
    flex-direction: column;
    row-gap: 32px;
  }
}
