@use '#Sass/abstracts/colors' as c;
@use '#Sass/abstracts/functions' as f;
@use '#Sass/abstracts/mixins' as mx;
@use '#Sass/abstracts/variables' as v;
@use '#Sass/components/buttons' as btn;

.bgLeafTop {
  position: absolute;
  left: 0;
  height: fit-content;
  transform: translateY(50%);
  z-index: 0;
}

.bgLeafBottom {
  position: absolute;
  right: 0;
  height: fit-content;
  transform: rotate(180deg) translateY(50%);
  z-index: 0;
}

.hero {
  display: flex;
  position: relative;
  padding: f.px2em(145) f.px2em(95) 0;
  margin-bottom: f.px2em(160);
  background-color: c.$col-1a;
  background-image: url('~svg/desktop/bg-pattern-hero-home.svg'); // HACK:  Successful aliasing example
  background-position: center right;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: v.$border-radius-1;
  color: c.$col-1c;
  overflow: hidden;

  &__info {
    max-width: 50%;
    margin-bottom: f.px2em(120);

    & > h1 {
      @include mx.header-h1;
    }

    & > p {
      margin: f.px2em(35) 0;
      padding-right: f.px2em(150);
    }

    & > button {
      @include btn.btn-primary;
      text-transform: uppercase;
    }
  }

  & > img {
    position: absolute;
    right: 0;
    top: 0;
    height: fit-content;
    transform: translate(12%, -3%);
  }
}

.viewgrid {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-bottom: f.px2em(160);
  height: 640px;
  column-gap: 30px;
  row-gap: 24px;

  & > :nth-child(1) {
    grid-row: 1 / span 2;
  }
}

.qualities {
  display: flex;
  position: relative;
  z-index: 1;
}
