@use '#Sass/abstracts/colors' as c;
@use '#Sass/abstracts/functions' as f;
@use '#Sass/abstracts/mixins' as mx;
@use '#Sass/abstracts/media-queries' as mq;
@use '#Sass/abstracts/variables' as v;
@use '#Sass/components/buttons' as btn;

.bgLeafTop {
  position: absolute;
  left: 0;
  height: fit-content;
  transform: translateY(50%);
  z-index: 0;

  @include mq.media(tablet-all, mobile-all) {
    display: none;
  }
}

.bgLeafBottom {
  position: absolute;
  right: 0;
  height: fit-content;
  transform: rotate(180deg) translateY(50%);
  z-index: 0;

  @include mq.media(tablet-all, mobile-all) {
    display: none;
  }
}

.hero {
  display: flex;
  position: relative;
  align-items: center;
  height: 640px;
  padding: 0 f.px2em(95) 0;
  margin-bottom: f.px2em(160);
  background-color: c.$col-1a;
  background-image: url('~svg/desktop/bg-pattern-hero-home.svg'); // HACK:  Successful aliasing example
  background-position: center right;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: v.$border-radius-1;
  color: c.$col-1c;
  overflow: hidden;

  @include mq.media(tablet-xlarge) {
    min-height: 743px;
    padding: f.px2em(100) f.px2em(95) 0;
    background-size: 100%;
    background-position: calc(100% + 50px) center;
  }

  @include mq.media(tablet-all) {
    height: 843px;
    background-size: 643px auto;
    background-position: calc(100% + 125px) center;
  }

  @include mq.media(tablet-xlarge, tablet-all, mobile-all) {
    flex-direction: column;
    padding: f.px2em(60) f.px2em(60) 0;
    margin-bottom: f.px2em(120);
  }

  @include mq.media(mobile-all) {
    height: 850px;
    margin: 0 -24px f.px2em(120);
    padding: f.px2em(80) f.px2em(24) 0;
    border-radius: 0;
    background-size: 650px auto;
    background-position: left center;
  }

  &__info {
    max-width: 60%;

    @include mq.media(tablet-xlarge, tablet-all, mobile-all) {
      max-width: unset;
      text-align: center;
    }

    & > h1 {
      @include mx.header-h1;
      @include mq.media(tablet-medium, tablet-small) {
        font-size: f.px2em(39);
        line-height: 36px;
      }
      @include mq.media(mobile-all) {
        font-size: f.px2em(32);
        line-height: 36px;
      }
    }

    & > p {
      margin: f.px2em(35) 0;
      padding-right: f.px2em(150);

      @include mq.media(tablet-xlarge, tablet-all, mobile-all) {
        padding: 0;
        margin: f.px2em(20) 0;
      }

      @include mq.media(mobile-all) {
        font-size: f.px2em(15);
      }
    }

    & > button {
      @include btn.btn-primary;
      text-transform: uppercase;

      @include mq.media(tablet-xlarge, tablet-all, mobile-all) {
        margin: 0 auto;
      }
    }
  }

  & > img {
    position: absolute;
    right: 0;
    top: 0;
    object-fit: none;
    object-position: -100px -60px;
    transform: translate(0%, 5%);

    @include mq.media(tablet-xlarge, tablet-all) {
      position: relative;
      object-fit: contain;
      object-position: unset;
      transform: translate(0, -40px) scale(120%);
    }

    @include mq.media(tablet-medium, tablet-small) {
      transform: translate(0, 0) scale(120%);
    }

    @include mq.media(mobile-all) {
      position: relative;
      object-fit: cover;
      object-position: unset;
      transform: translate(0, 20%) scale(150%);
    }
  }
}

.viewgrid {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 308px;
  margin-bottom: f.px2em(160);
  column-gap: 30px;
  row-gap: 24px;

  @include mq.media(
    tablet-xlarge,
    desktop-small,
    desktop-medium,
    desktop-large,
    desktop-xlarge
  ) {
    & > :nth-child(1) {
      grid-row: 1 / span 2;
    }
  }

  @include mq.media(tablet-all) {
    grid-template-columns: 1fr;
    grid-auto-rows: 200px;
    margin-bottom: f.px2em(120);
  }

  @include mq.media(mobile-all) {
    grid-template-columns: 1fr;
    grid-auto-rows: 250px;
    margin-bottom: f.px2em(120);
  }
}

.qualities {
  display: flex;
  position: relative;
  z-index: 1;

  @include mq.media(tablet-all, mobile-all) {
    flex-direction: column;
    row-gap: 35px;
  }
}
