@use '#Sass/abstracts/colors' as c;
@use '#Sass/abstracts/functions' as f;
@use '#Sass/abstracts/mixins' as mx;
// @use '#Sass/abstracts/media-queries' as mq;
// @use '#Sass/abstracts/variables' as v;
@use '#Sass/components/form' as form;
@use '#Sass/components/radio' as radio;

.label {
  @include form.form-textfield-default;

  &:focus-within {
    @include form.form-textfield-active;
  }

  display: flex;
  align-items: center;
  column-gap: 20px;
  height: fit-content;

  &__radioBtn {
    @include radio.radio-default;
  }

  &__title {
    @include mx.body-regular;
    font-weight: 700;
  }
}
