/* -------------------------------- */
/*            ~ Root ~              */
/* -------------------------------- */
/*          [Invoice App]           */
/* -------------------------------- */
/*   Frontend Mentor Challenge      */
/*   Difficulty: Guru               */
/*   [www.frontendmentor.io]        */
/* -------------------------------- */
/*   version:   1.0                 */
/*   date:      17/10/2022          */
/*   author:    Simon Stranks       */
/*   website:   github.com/SStranks */
/* -------------------------------- */

/*   Imports                        */
@use './variables' as *;

/*  Themes                          */
:root {
  --color-background: #{$color-3c};
  --color-text-p: #{$color-2d};
  --color-text-p2: #{$color-2c};
  --color-text-h: #{$color-2d};
  --color-elements: #{$white};
  --color-elements-2: #{$color-5g};
  --color-elements-3: #{$color-4a};
  --color-sidebar: #{$color-4a};
  --color-sidebar-panel: #{$white};
  --color-sidebar-elements: #{$white};
  --color-form-label: #{$color-2c};
  --color-form-input-bg: #{$white};
  --color-form-input-border: #{$color-2a};
  --color-form-input-button: #{$color-4h};
  --color-form-dropdown: #{$white};
  --color-button-status-paid: #{$color-4b};
  --color-button-status-pending: #{$color-4d};
  --color-button-status-draft: #{$color-4f};
  --color-button-status-draft-text: #{$color-4a};
  // --color-placeholder: hsl(216deg, 5%, 57%);
  // --color-input-text: #{$Dark_Grey};
}

.dark-theme {
  --color-background: #{$color-3d};
  --color-text-p: #{$white};
  --color-text-p2: #{$color-2a};
  --color-text-h: #{$white};
  --color-elements: #{$color-1c};
  --color-elements-2: #{$color-1d};
  --color-elements-3: #{$color-5f};
  --color-sidebar: #{$color-1c};
  --color-sidebar-panel: #{$color-3d};
  --color-sidebar-elements: #{$color-1c};
  --color-form-label: #{$color-2a};
  --color-form-input-bg: #{$color-1c};
  --color-form-input-border: #{$color-1d};
  --color-form-input-button: #{$color-1d};
  --color-form-dropdown: #{$color-1d};
  --color-button-status-paid: #{$color-5c};
  --color-button-status-pending: #{$color-5d};
  --color-button-status-draft: #{$color-5e};
  --color-button-status-draft-text: #{$color-2a};
  //   --color-placeholder: hsl(216deg, 5%, 57%);
  //   --color-input-text: #{$White};
}
