/* -------------------------------- */
/*   Typography                     */
/* -------------------------------- */
/*   FrontEndMentor Challenge       */
/*   #Invoice App                   */
/* -------------------------------- */
/*   version:   1.0                 */
/*   date:      17/10/2022          */
/*   author:    Simon Stranks       */
/*   website:   github.com/SStranks */
/* -------------------------------- */

/*   Imports                        */
@use 'variables' as *;
@use 'functions' as f;
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

/*   Font                           */
html,
body {
  // 400 Regular. 600 Semi-bold. 700 Bold.
  font-family: 'League Spartan', sans-serif;
}

/*   Text                           */
// For <p> see mixins for multiple definitions
h1 {
  font-weight: 700;
  font-size: f.px2rem(32);
  line-height: f.px2rem(36);
  letter-spacing: f.px2rem(-1);
}

h2 {
  font-weight: 700;
  font-size: f.px2rem(20);
  line-height: f.px2rem(22);
  letter-spacing: f.px2rem(-0.63);
}

h3 {
  font-weight: 700;
  font-size: f.px2rem(16);
  line-height: f.px2rem(24);
  letter-spacing: f.px2rem(-0.8);
}

h4 {
  font-weight: 700;
  font-size: f.px2rem(12);
  line-height: f.px2rem(15);
  letter-spacing: f.px2rem(-0.25);
}

span {
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
}

a,
a:visited,
a:active,
a:hover {
  text-decoration: 0;
}

a {
  color: inherit;
}
