@use '../../assets/styles/variables' as *;

.main {
  margin-top: 120px;
  padding: $padding-desktop;
  button {
    margin: 56px auto 0;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 65px 30px;
}
