@use '../../../assets/sass/variables' as *;
@use '../../../assets/sass/mixins' as *;
@use '../../../assets/sass/functions' as f;

.bar {
  @include card;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: f.px2em(14) f.px2em(16) f.px2em(14) f.px2em(24);
  margin-bottom: f.px2em(24);
  background-color: $dark-blue;

  &__suggestions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $white;

    & > :last-child {
      margin-left: f.px2em(16);
    }
  }

  &__icon {
    margin-right: f.px2em(16);

    @include media(mobile-large, mobile-medium, mobile-small) {
      display: none;
    }
  }

  &__number {
    @include media(mobile-large, mobile-medium, mobile-small) {
      display: none;
    }
  }

  @include media(mobile-large, mobile-medium, mobile-small) {
    border-radius: 0;
  }

  &__btn {
    width: 157px;
    height: 44px;
  }
}
