@use '#Sass/variables' as *;
@use '#Sass/mixins' as *;
@use '#Sass/functions' as f;
@use '#Sass/animations' as a;

.container {
  width: 100%;
  height: 100%;
  margin-bottom: f.px2em(24);
  overflow-y: hidden;

  @include media(tablet-all) {
    margin-bottom: f.px2em(24);
  }

  &__invoices {
    height: 100%;
    position: relative;
    display: grid;
    grid-auto-rows: min-content;
    row-gap: f.px2em(16);
    padding: f.px2em(5) 8px 0 f.px2em(7);
    overflow-y: scroll;

    @include media(mobile-all) {
      padding: 0 8px;
      &::-webkit-scrollbar {
        display: none;
      }
    }

    // Can't transition linear-gradients :(

    // &::after {
    //   content: '';
    //   position: sticky;
    //   bottom: 0;
    //   left: 0;
    //   right: 0;
    //   width: 100%;
    //   height: 50px;
    //   background: linear-gradient(
    //     0deg,
    //     var(--color-background) 40%,
    //     rgba(255, 255, 255, 0) 100%
    //   );
    //   transition: a.$Theme-transition;
    // }
  }

  &__noInvoices {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: min-content;
    margin-inline: auto;
    margin-top: f.px2em(76);

    & > img {
      margin-bottom: f.px2em(64);
    }

    & > p {
      margin-top: f.px2em(24);
      color: $color-2b;
      text-align: center;
    }
  }
}
