@use '#Sass/abstracts/colors' as c;
@use '#Sass/abstracts/functions' as f;
@use '#Sass/abstracts/media-queries' as mq;
@use '#Sass/abstracts/mixins' as mx;
@use '#Sass/abstracts/variables' as v;

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 30px;

  @include mq.media(tablet-all) {
    row-gap: 120px;
  }

  &__row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;

    @include mq.media(tablet-all) {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      column-gap: 0;
      row-gap: 30px;
    }

    & > div {
      border-radius: v.$border-radius-1;
    }

    &--reverse {
      & > div {
        grid-column: 2 / span 3;

        @include mq.media(tablet-all) {
          grid-column: 1;
        }
      }
    }
  }
}

.info {
  grid-column: 1 / span 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0 0 f.px2em(95);
  background-color: c.$col-2d;
  background-image: url(~svg/desktop/bg-pattern-two-circles.svg);
  background-repeat: no-repeat;
  background-position: bottom left;

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: min-content min-content;
    row-gap: f.px2em(24);
    align-items: center;

    & > h2 {
      @include mx.header-h2;
      grid-column: 1 / span 2;
      color: c.$col-1a;
    }
  }

  &__title {
    font-weight: 700;
  }
}

.img {
  border-radius: v.$border-radius-1;

  &__canada {
    @include mq.media(tablet-all) {
      content: url(~img/tablet/image-map-canada.png);
    }
  }

  &__australia {
    order: -1;
    @include mq.media(tablet-all) {
      content: url(~img/tablet/image-map-australia.png);
      order: unset;
    }
  }

  &__uk {
    @include mq.media(tablet-all) {
      content: url(~img/tablet/image-map-uk.png);
    }
  }
}
