@use 'variables' as *;

.stats {
  position: relative;
  transition: 0.5s;
  &:hover {
    cursor: pointer;
    background-color: darken($desaturated-blue, 20%);
  }
  &:hover .work-icon {
    transform: scale(125%);
  }

  &__bar {
    position: relative;
    border-radius: $border-radius $border-radius 0 0;
    height: 60px;
    width: 100%;
    overflow: hidden;
    background-size: 80px auto;
    background-repeat: no-repeat;
    background-position: 94% 30%;
    z-index: 1;

    & img {
      position: absolute;
      right: 5%;
      z-index: 0;
      transition: 0.5s;
    }
  }

  &__data {
    position: relative;
    margin-top: -5%;
    padding: 1.5rem;
    border-radius: $border-radius;
    background-color: inherit;
    z-index: 1;
  }
}

.data {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
  }

  &__title {
    font-size: 1.2rem;
    font-weight: 400;
  }

  &__ellipsis {
    &:hover {
      filter: brightness(100);
    }
  }

  &__number {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 3rem;
    font-weight: 300;
  }

  &__last-period {
    color: $pale-blue;
    font-size: 0.9rem;
    font-weight: 400;
  }
}

#work {
  background-color: $work;
}

#play {
  background-color: $play;
}

#study {
  background-color: $study;
}

#exercise {
  background-color: $exercise;
}

#social {
  background-color: $social;
}

#self-care {
  background-color: $self-care;
}
