@use 'variables' as *;

.stats {
  position: relative;

  &__bar {
    border-radius: $border-radius;
    height: 60px;
    width: 100%;
    overflow: hidden;
    background-size: 80px auto;
    background-repeat: no-repeat;
    background-position: 94% 30%;
  }
}

.data {
  &__number {
    font-size: 3rem;
    font-weight: 300;
  }
  &__last-period {
    font-size: 1.4rem;
    font-weight: 400;
  }
}

#work {
  background-color: $work;
}

#play {
  background-color: $play;
}

#study {
  background-color: $study;
}

#exercise {
  background-color: $exercise;
}

#social {
  background-color: $social;
}

#self-care {
  background-color: $self-care;
}
