# Env files
.env
.env.*

# Dependencies
backend/node_modules
frontend/node_modules

# Public
frontend/public
frontend/dist
backend/dist

# Private Files
private.*

# FrontEndMentor
*.sketch
*.xd
*.fig
.DS_Store

# VSCode
*.code-workspace