@use '#Sass/abstracts/animations' as a;
@use '#Sass/abstracts/colors' as c;
@use '#Sass/abstracts/functions' as f;
@use '#Sass/abstracts/mixins' as mx;
@use '#Sass/abstracts/variables' as v;

.column {
  display: flex;
  flex-direction: column;
  row-gap: f.px2em(20);
  min-width: 280px;
  max-width: 280px;
}

.status {
  display: flex;
  align-items: center;
  column-gap: f.px2em(12);

  &__bullet {
    width: 15px;
    height: 15px;
    border-radius: 100%;

    &--1 {
      background-color: c.$col-3a;
    }

    &--2 {
      background-color: c.$col-3b;
    }

    &--3 {
      background-color: c.$col-3c;
    }

    &--4 {
      background-color: c.$col-3d;
    }

    &--5 {
      background-color: c.$col-3e;
    }

    &--6 {
      background-color: c.$col-3f;
    }

    &--7 {
      background-color: c.$col-3g;
    }

    &--8 {
      background-color: c.$col-3h;
    }

    &--9 {
      background-color: c.$col-3i;
    }

    &--10 {
      background-color: c.$col-3j;
    }

    &--11 {
      background-color: c.$col-3k;
    }
  }

  &__title {
    @include mx.header-s;
    color: c.$col-1g;
  }
}

.column-empty {
  @include mx.header-xl;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 280px;
  height: 100%;
  background-color: var(--thm-column-bg);
  border-radius: v.$border-radius-column-empty;
  color: c.$col-1g;
  transition: a.$Theme-transition-bg;
}
