@use '#Sass/abstracts/colors' as c;
@use '#Sass/abstracts/functions' as f;
@use '#Sass/abstracts/mixins' as mx;
@use '#Sass/abstracts/media-queries' as mq;
@use '#Sass/abstracts/variables' as v;
@use '#Sass/components/buttons' as btn;

.card {
  padding: 48px;
  margin: auto 24px;
  background-color: c.$col-2b;
  border-radius: v.$border-radius-1;

  &__circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    margin-bottom: 34px;
    background-color: c.$col-1a;
    border-radius: 50%;

    &__check {
      filter: brightness(100);
      height: 25px;
    }
  }

  &__header {
    @include mx.header-h3 using ($REM) {
      margin-bottom: f.px2emParent(24, $REM);
    }
  }

  &__subHeader {
    @include mx.body-regular using ($REM) {
      margin-bottom: f.px2emParent(34, $REM);
    }
    color: c.$col-3a;
  }

  &__homeBtn {
    @include btn.btn-default-1;
    width: 100%;
  }
}

.orderDetails {
  display: grid;
  grid-template-columns: auto auto;
  margin-bottom: 46px;
  border-radius: v.$border-radius-1;
  overflow: hidden;

  &__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px;
    background-color: c.$col-1c;

    & > div:not(:nth-child(1)) {
      display: none;
    }

    &--active {
      & > div:not(:nth-child(1)) {
        display: grid;
      }
    }

    &__hr {
      width: 100%;
      margin: 12px 0;
      border: 1px solid c.$col-3e;
    }
  }

  &__grandTotal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 41px 32px;
    background-color: c.$col-2c;
    transition: flex 1s;

    &__title {
      @include mx.body-regular using ($REM) {
        margin-bottom: f.px2emParent(8, $REM);
      }
      color: c.$col-3b;
      text-transform: uppercase;
    }

    &__amount {
      @include mx.header-h6 using ($REM) {
      }
      color: c.$col-2b;
    }

    &--active {
      justify-content: flex-end;
    }
  }
}

/* -------------------------------- */
/*   Media Queries                  */
/* -------------------------------- */

.card {
  @include mq.media(tablet-micro, mobile-all) {
    padding: 32px;
  }

  @include mq.media(mobile-small) {
    column-gap: 0;
  }
}

.orderDetails {
  @include mq.media(tablet-micro, mobile-all) {
    grid-template-columns: 1fr;
    margin-bottom: 23px;
    border-radius: v.$border-radius-1;
    overflow: hidden;

    &__items {
      padding: 24px;
    }

    &__grandTotal {
      padding: 15px 24px;
    }
  }

  @include mq.media(mobile-small) {
    &__items {
      padding: 18px;
    }

    &__grandTotal {
      padding: 15px 18px;
    }
  }
}
