/* -------------------------------- */
/*   Colors                         */
/* -------------------------------- */
/*   ~~[PROJECT NAME]~~             */
/*   # [PROJECT DETAILS]            */
/* -------------------------------- */
/*   version:   1.0                 */
/*   date:      xx/xx/xxxx          */
/*   author:    Simon Stranks       */
/*   website:   github.com/SStranks */
/* -------------------------------- */

/*   Imports                        */
@use 'variables' as *;

/* -------------------------------- */
/*   Primary Colors                 */
/* -------------------------------- */

$col-1a: hsl(242deg, 48%, 58%);
$col-1b: hsl(243deg, 100%, 82%);
$col-1c: hsl(237deg, 100%, 4%);
$col-1d: hsl(235deg, 16%, 15%);
$col-1e: hsl(235deg, 12%, 19%);
$col-1f: hsl(236deg, 11%, 27%);
$col-1g: hsl(216deg, 15%, 57%);
$col-1h: hsl(221deg, 69%, 94%);
$col-1i: hsl(220deg, 69%, 97%);
$col-1j: hsl(0deg, 78%, 63%);
$col-1k: hsl(0deg, 100%, 80%);
$col-1l: hsl(245deg, 52%, 96%);
$col-1m: hsl(242deg, 48%, 89%);
$col-1n: hsl(240deg, 23%, 29%);

/* -------------------------------- */
/*   Secondary Colors               */
/* -------------------------------- */

$White: hsl(0deg, 0%, 100%);
$Black: hsl(0deg, 0%, 0%);
// $Light_Grey: hsl(210deg, 22%, 96%);
// $Grey: hsl(212deg, 23%, 69%);
// $Dark_Grey: hsl(214deg, 17%, 51%);

/* -------------------------------- */
/*   Tertiary Colors                */
/* -------------------------------- */
