/* -------------------------------- */
/*   Variables                      */
/* -------------------------------- */
/*   ~~[PROJECT NAME]~~             */
/*   # [PROJECT DETAILS]            */
/* -------------------------------- */
/*   version:   1.0                 */
/*   date:      xx/xx/xxxx          */
/*   author:    Simon Stranks       */
/*   website:   github.com/SStranks */
/* -------------------------------- */

/*   Imports                        */

/* -------------------------------- */
/*   Web Elements                   */
/* -------------------------------- */

$sidebar-dim-width: 300px;
$navbar-dim-height: 96px;

/* -------------------------------- */
/*   Margin & Padding               */
/* -------------------------------- */

$padding-desktop: 0 165px 56px 165px;
$padding-transition: padding 2500ms ease-out;
$grid-gap-transition: gap 1500ms ease-out;

/* -------------------------------- */
/*   Borders                        */
/* -------------------------------- */

// Common radius across multiple elements
$border-radius-1: 4px;

$border-radius-btn-1: 24px;
$border-radius-btn-2: 20px;
$border-radius-chkbx-1: $border-radius-1;
$border-radius-chkbx-2: 2px;
$border-radius-input-text: $border-radius-1;
$border-radius-dropdown: $border-radius-1;
$border-radius-dropdown-list: 8px;

/* -------------------------------- */
/*   Shadows                        */
/* -------------------------------- */

$box-shadow-1: 0px 10px 10px -10px rgba(72, 84, 159, 0.1);
