/* -------------------------------- */
/*           ~ Globals ~            */
/* -------------------------------- */
/*      [Project Feedback App]      */
/* -------------------------------- */
/*   Frontend Mentor Challenge      */
/*   Difficulty: Guru               */
/*   [www.frontendmentor.io]        */
/* -------------------------------- */
/*   version:   1.0                 */
/*   date:      26/09/2022          */
/*   author:    Simon Stranks       */
/*   website:   github.com/SStranks */
/* -------------------------------- */

/*   Imports                        */
@use 'variables' as *;
@use 'functions' as f;
@use 'animations' as a;

/*   Globals                        */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
  font-size: 100%;
}

body {
  position: relative;
  height: 100%;
  width: 100%;
  background: var(--color-background);
  color: var(--color-text-p);
  transition: a.$Theme-transition;
  overflow-y: hidden;
}

#root {
  max-height: 100vh;
  height: 100%;
}

img {
  display: block;
  height: 100%;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  font-family: inherit;
  border-radius: 10px;
  cursor: pointer;
}

input {
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: var(--color-text-p);
  transition: a.$Theme-transition;
  background-color: transparent;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  &::placeholder {
    color: var(--color-text-p);
    transition: a.$Theme-transition;
  }
}

textarea {
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
}

label {
  font-size: 1rem;
  font-weight: bold;
  color: #000;
  cursor: pointer;
}

.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
}

.hidden {
  display: none !important;
}

.show {
  display: inherit !important;
}

.modal-open {
  // Prevent horizontal reflow from scrollbar
  padding-right: 15px;
  overflow: hidden;
}

.transition * {
  transition: none !important;
}
