/* -------------------------------- */
/*          ~ Typogprahy ~          */
/* -------------------------------- */
/*      [Project Feedback App]      */
/* -------------------------------- */
/*   Frontend Mentor Challenge      */
/*   Difficulty: Guru               */
/*   [www.frontendmentor.io]        */
/* -------------------------------- */
/*   version:   1.0                 */
/*   date:      26/09/2022          */
/*   author:    Simon Stranks       */
/*   website:   github.com/SStranks */
/* -------------------------------- */

/*   Imports                        */
@use 'variables' as *;
@use 'functions' as f;
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;600;700&display=swap');

/*   Font                           */
html,
body {
  // 400 Regular. 600 Semi-bold. 700 Bold.
  font-family: 'Jost', sans-serif;
}

/*   Text                           */
// For <p> see mixins for multiple definitions
h1 {
  font-weight: 700;
  font-size: f.px2rem(24);
  line-height: f.px2rem(35);
  letter-spacing: f.px2rem(-0.33);
}

h2 {
  font-weight: 700;
  font-size: f.px2rem(20);
  line-height: f.px2rem(29);
  letter-spacing: f.px2rem(-0.25);
}

h3 {
  font-weight: 700;
  font-size: f.px2rem(18);
  line-height: f.px2rem(26);
  letter-spacing: f.px2rem(-0.25);
}

h4 {
  font-weight: 700;
  font-size: f.px2rem(14);
  line-height: f.px2rem(20);
  letter-spacing: f.px2rem(-0.2);
}

span {
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  // color: $Very_Dark_Blue;
}

a,
a:visited,
a:active,
a:hover {
  text-decoration: 0;
}

a {
  color: inherit;
}
