/* -------------------------------- */
/*   Variables                      */
/* -------------------------------- */
/*   FrontEndMentor Challenge       */
/*   #Project Feedback App          */
/* -------------------------------- */
/*   version:   1.0                 */
/*   date:      20/09/2022          */
/*   author:    Simon Stranks       */
/*   website:   github.com/SStranks */
/* -------------------------------- */

/*   Colours: Primary               */
$magenta: hsl(282deg, 83%, 52%);
$sky-blue: hsl(204deg, 94%, 68%);
$royal-blue: hsl(230deg, 76%, 59%);
$dark-blue: hsl(230deg, 31%, 31%);
$navy-blue: hsl(231deg, 33%, 34%);
$pale-blue: hsl(231deg, 100%, 97%);
$mute-blue: hsl(224deg, 20%, 49%);
$pale-grey: hsl(230deg, 60%, 98%);
$blood-red: hsl(0deg, 67%, 53%);
$mute-orange: hsl(14deg, 83%, 74%);
$white: hsl(0deg, 0%, 100%);

/*   Colours: Secondary             */
/*   Placeholder Text               */
$fade-blue: hsl(231deg, 20%, 63%);

/*   Breakpoints                    */
$mobile-s: 320px;
$mobile-m: 375px;
$mobile-l: 425px;
$tablet-s: 700px;
$tablet: 768px;
$desktop-s: 1024px;
$desktop-m: 1440px;
$desktop-l: 2560px;

/*   Borders                        */
$border-radius-1: 10px;
$border-radius-2: 5px;
