@use '../../assets/sass/variables' as *;
@use '../../assets/sass/mixins' as *;
@use '../../assets/sass/functions' as f;

.comment {
  display: grid;
  grid-template-columns: 40px 1fr;
  column-gap: f.px2em(32);

  @include media(mobile-large, mobile-medium, mobile-small) {
    // grid-template-columns: 1fr;
    column-gap: 0;
  }

  &__img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  &__flex {
    grid-column: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: f.px2em(17);

    @include media(mobile-large, mobile-medium, mobile-small) {
      margin-left: f.px2em(16);
    }
  }

  &__name {
    @include body-5;
    color: $navy-blue;
  }

  &__username {
    @include body-4;
    color: $mute-blue;
  }

  &__btnreply {
    @include body-3;
    background: transparent;
    color: $royal-blue;

    &:hover {
      text-decoration: underline;
      text-underline-offset: 2px;
    }
  }

  &__vertical-line {
    grid-column: 1;
    justify-self: center;
    grid-row: 2;
    height: calc(100% + 20px);
    width: 1px;
    background-color: $line-break;

    @include media(mobile-large, mobile-medium, mobile-small) {
      grid-row: 3;
      justify-self: unset;
    }
  }

  &__content {
    @include body-2;
    grid-column: 2;
    color: $mute-blue;
    margin-bottom: f.px2em(32);

    @include media(mobile-large, mobile-medium, mobile-small) {
      grid-column: span 2;
    }
  }

  &__replyto {
    @include body-5;
    color: $magenta;
    margin-right: f.px2em(15);
  }

  &__form {
    grid-column: 2;
    display: flex;
    column-gap: f.px2em(16);
    margin-bottom: f.px2em(24);

    & > :last-child {
      flex: none;
    }
  }

  &__replies-container {
    grid-column: 2;
    margin-left: -20px;
  }
}
