@use '#Sass/abstracts/colors' as c;
@use '#Sass/abstracts/functions' as f;
@use '#Sass/abstracts/media-queries' as mq;
@use '#Sass/abstracts/mixins' as mx;
@use '#Sass/abstracts/variables' as v;
@use '#Sass/components/buttons' as btn;

.hero {
  height: 632px;
  padding: 0 v.$padding-desktop;
  background-color: c.$col-1b;
  background-image: url(~img/home/desktop/image-hero.jpg);
  background-repeat: no-repeat;
  background-position: bottom;

  &__hr {
    width: 100%;
    height: 1px;
    background-color: c.$col-3c;
    border: none;
  }

  &__container {
    max-width: 40%;
    margin-top: f.px2em(128);
  }

  &__title {
    @include mx.header-overline;
    padding-bottom: f.px2em(24);
    color: c.$col-3b;
  }

  &__product {
    @include mx.header-h1;
    padding-bottom: 24px;
    color: c.$col-2b;
  }

  &__info {
    @include mx.body-regular;
    padding-bottom: f.px2em(40);
    color: c.$col-3d;
  }

  &__btn {
    @include btn.btn-default-1;
  }
}

.main {
  padding: 120px v.$padding-desktop 200px v.$padding-desktop;
  background-color: c.$col-2b;
}
