@use '#Sass/abstracts/colors' as c;
@use '#Sass/abstracts/functions' as f;
@use '#Sass/abstracts/media-queries' as mq;
@use '#Sass/abstracts/mixins' as mx;
@use '#Sass/abstracts/variables' as v;
@use '#Sass/components/buttons' as btn;

.hero {
  position: relative;
  background-color: c.$col-1b;
  margin-bottom: f.px2em(120);
  aspect-ratio: 160 / 81; // Computed from <img> hero.

  &__nav {
    position: relative;
    background-color: transparent;
  }

  &__hr {
    position: relative;
    height: 1px;
    margin: 0 v.$padding-desktop-horizontal;
    background-color: c.$col-3c;
    border: none;
  }

  &__img {
    position: absolute;
    object-fit: cover;
    z-index: 0;
  }

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 40%;
    height: 100%;
    margin-left: v.$padding-desktop-horizontal;
  }

  &__title {
    @include mx.header-overline;
    padding-bottom: f.px2em(24);
    color: c.$col-3b;
  }

  &__product {
    @include mx.header-h1;
    padding-bottom: 24px;
    color: c.$col-2b;
  }

  &__info {
    @include mx.body-regular;
    max-width: 65%;
    padding-bottom: f.px2em(40);
    color: c.$col-3d;
  }

  &__seeProductLink {
    @include btn.btn-default-1;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  // grid-template-columns: 1fr;
  grid-template-rows: 560px 320px 320px;
  row-gap: 48px;
  column-gap: 30px;
  margin: f.px2em(165) 0 f.px2em(200);
}

.zx9 {
  grid-column: 1 / span 2;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 50px;
  background-color: c.$col-1a;
  background-image: url('/src/assets/svg/desktop/pattern-circles.svg');
  background-repeat: no-repeat;
  background-position: -200px -50px;
  border-radius: 8px;
  overflow: hidden;

  &__container {
    max-width: 350px;
  }

  &__img {
    object-fit: cover;
    height: 100%;
    max-height: 493px;
    width: auto;
    margin-right: 140px;
    transform: translateY(50px);
  }

  &__title {
    @include mx.header-h1;
    margin-bottom: 24px;
    color: c.$col-2b;
  }

  &__info {
    @include mx.body-regular;
    margin-bottom: 40px;
    color: c.$col-2b;
  }

  &__btn {
    @include btn.btn-default-4;
  }
}

.zx7 {
  grid-column: 1 / span 2;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: f.px2em(95);
  border-radius: 8px;
  overflow: hidden;

  &__container {
    position: relative;
    z-index: 1;
  }

  &__img {
    position: absolute;
    left: 0;
    object-fit: cover;
    width: 100%;
    z-index: 0;
  }

  &__title {
    @include mx.header-h4;
    margin-bottom: 32px;
  }

  &__btn {
    @include btn.btn-default-2;
  }
}

.yx1-img {
  object-fit: cover;
  // max-width: 540px;
  width: 100%;
  min-width: 320px;
  border-radius: 8px;
}

.yx1 {
  // grid-column: 1 / span 2;
  display: flex;
  // column-gap: 30px;

  &__container {
    display: flex;
    align-items: center;
    width: 100%;
    // padding: f.px2em(95);
    padding-left: f.px2em(128);
    // margin-left: 95px;
    background-color: c.$col-1c;
    border-radius: 8px;
  }

  &__title {
    @include mx.header-h4;
    margin-bottom: 32px;
  }

  &__btn {
    @include btn.btn-default-2;
  }
}

.companyStatement {
  margin-bottom: 80px;
}

/* -------------------------------- */
/*   Media Queries                  */
/* -------------------------------- */

.hero {
  @include mq.media(
    tablet-large,
    tablet-regular,
    tablet-small,
    tablet-mini,
    tablet-micro
  ) {
    margin-bottom: 0;
    aspect-ratio: 256/243;
  }

  // @include mq.media(
  //   tablet-large,
  //   tablet-regular,
  //   tablet-small,
  //   tablet-mini,
  //   tablet-micro
  // ) {
  //   margin-bottom: f.px2em(0);
  // }

  @include mq.media(mobile-all) {
    aspect-ratio: 5/8;
    margin-bottom: 0;
  }

  &__hr,
  &__container {
    @include mq.media(desktop-small) {
      margin: 0 v.$padding-desktop-small-horizontal;
    }

    @include mq.media(desktop-mini) {
      margin: 0 v.$padding-desktop-mini-horizontal;
    }

    @include mq.media(tablet-large) {
      margin: 0 v.$padding-tablet-horizontal;
    }

    @include mq.media(tablet-regular, tablet-small) {
      margin: 0 v.$padding-tablet-small-horizontal;
    }

    @include mq.media(tablet-mini, tablet-micro) {
      margin: 0 v.$padding-tablet-mini-horizontal;
    }

    @include mq.media(mobile-all) {
      margin: 0 v.$padding-mobile-horizontal;
    }
  }

  &__img {
    @include mq.media(
      tablet-large,
      tablet-regular,
      tablet-small,
      tablet-mini,
      tablet-micro
    ) {
      content: url('/public/img/home/tablet/image-header.jpg');
    }

    @include mq.media(mobile-all) {
      content: url('/public/img/home/mobile/image-header.jpg');
    }
  }

  &__container {
    @include mq.media(
      tablet-large,
      tablet-regular,
      tablet-small,
      tablet-mini,
      tablet-micro,
      mobile-all
    ) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      max-width: unset;
      padding: 130px 0;
      margin-top: 0;
    }
  }

  &__product {
    @include mq.media(
      tablet-large,
      tablet-regular,
      tablet-small,
      tablet-mini,
      tablet-micro,
      mobile-all
    ) {
      text-align: center;
    }

    @include mq.media(mobile-all) {
      font-size: f.px2rem(36);
      line-height: f.px2rem(40);
      letter-spacing: f.px2rem(1.29);
    }
  }

  &__info {
    @include mq.media(
      tablet-large,
      tablet-regular,
      tablet-small,
      tablet-mini,
      tablet-micro
    ) {
      max-width: 55%;
      text-align: center;
    }

    @include mq.media(mobile-all) {
      max-width: 65%;
      text-align: center;
    }
  }
}

.grid {
  @include mq.media(tablet-regular, tablet-small, tablet-mini, tablet-micro) {
    margin: f.px2em(96) 0 f.px2em(200);
  }
}

.yx1 {
  @include mq.media(desktop-mini) {
    justify-content: center;
  }

  &__container {
    @include mq.media(desktop-mini) {
      justify-content: center;
      padding: 0;

      &__subContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}
