@use '#Sass/abstracts/colors' as c;
@use '#Sass/abstracts/functions' as f;
@use '#Sass/abstracts/media-queries' as mq;
@use '#Sass/abstracts/mixins' as mx;
@use '#Sass/abstracts/variables' as v;
@use '#Sass/components/buttons' as btn;

.hero {
  position: relative;
  background-color: c.$col-1b;
  margin-bottom: f.px2em(120);
  aspect-ratio: 160 / 81; // Computed from <img> hero.

  &__nav {
    position: relative;
    background-color: transparent;
  }

  &__hr {
    position: relative;
    height: 1px;
    margin: 0 v.$padding-desktop-horizontal;
    background-color: c.$col-3c;
    border: none;
  }

  &__img {
    position: absolute;
    object-fit: cover;
    z-index: 0;
  }

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 40%;
    height: 100%;
    margin-left: v.$padding-desktop-horizontal;
  }

  &__title {
    @include mx.header-overline;
    padding-bottom: f.px2em(24);
    color: c.$col-3b;
  }

  &__product {
    @include mx.header-h1;
    padding-bottom: 24px;
    color: c.$col-2b;
  }

  &__info {
    @include mx.body-regular;
    max-width: 65%;
    padding-bottom: f.px2em(40);
    color: c.$col-3d;
  }

  &__seeProductLink {
    @include btn.btn-default-1;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 560px 320px 320px;
  row-gap: 48px;
  column-gap: 30px;
  margin: f.px2em(165) 0 f.px2em(200);
}

.zx9 {
  grid-column: 1 / span 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 95px;
  background-color: c.$col-1a;
  background-image: url('/public/img/home/desktop/image-speaker-zx9.png');
  background-repeat: no-repeat;
  background-size: 375px;
  background-position: bottom -10px left 118px;
  border-radius: 8px;

  &__container {
    max-width: 350px;
  }

  &__title {
    @include mx.header-h1;
    margin-bottom: 24px;
    color: c.$col-2b;
  }

  &__info {
    @include mx.body-regular;
    margin-bottom: 40px;
    color: c.$col-2b;
  }

  &__btn {
    @include btn.btn-default-4;
  }
}

.zx7 {
  grid-column: 1 / span 2;
  display: flex;
  align-items: center;
  padding-left: f.px2em(95);
  background-color: c.$col-1c;
  background-image: url('/public/img/home/desktop/image-speaker-zx7.jpg');
  background-position: right;
  background-repeat: no-repeat;
  border-radius: 8px;

  &__title {
    @include mx.header-h4;
    margin-bottom: 32px;
  }

  &__btn {
    @include btn.btn-default-2;
  }
}

.yx1-img {
  // background-image: url('/public/img/home/desktop/image-earphones-yx1.jpg');
  background-size: cover;
  object-fit: cover;
  border-radius: 8px;
}

.yx1 {
  display: flex;
  align-items: center;
  padding-left: f.px2em(95);
  background-color: c.$col-1c;
  border-radius: 8px;

  &__title {
    @include mx.header-h4;
    margin-bottom: 32px;
  }

  &__btn {
    @include btn.btn-default-2;
  }
}

.companyStatement {
  margin-bottom: 80px;
}

/* -------------------------------- */
/*   Media Queries                  */
/* -------------------------------- */

.hero {
  @include mq.media(
    tablet-large,
    tablet-regular,
    tablet-small,
    tablet-mini,
    tablet-micro
  ) {
    aspect-ratio: 256/243;
  }

  @include mq.media(mobile-all) {
    aspect-ratio: 5/8;
  }

  &__hr,
  &__container {
    @include mq.media(desktop-small) {
      margin: 0 v.$padding-desktop-small-horizontal;
    }

    @include mq.media(desktop-mini) {
      margin: 0 v.$padding-desktop-mini-horizontal;
    }

    @include mq.media(tablet-large) {
      margin: 0 v.$padding-tablet-horizontal;
    }

    @include mq.media(tablet-regular, tablet-small) {
      margin: 0 v.$padding-tablet-small-horizontal;
    }

    @include mq.media(tablet-mini, tablet-micro) {
      margin: 0 v.$padding-tablet-mini-horizontal;
    }

    @include mq.media(mobile-all) {
      margin: 0 v.$padding-mobile-horizontal;
    }
  }

  &__img {
    @include mq.media(
      tablet-large,
      tablet-regular,
      tablet-small,
      tablet-mini,
      tablet-micro
    ) {
      content: url('/public/img/home/tablet/image-header.jpg');
    }

    @include mq.media(mobile-all) {
      content: url('/public/img/home/mobile/image-header.jpg');
    }
  }

  &__container {
    @include mq.media(
      tablet-large,
      tablet-regular,
      tablet-small,
      tablet-mini,
      tablet-micro,
      mobile-all
    ) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      max-width: unset;
      padding: 130px 0;
      margin-top: 0;
    }
  }

  &__product {
    @include mq.media(
      tablet-large,
      tablet-regular,
      tablet-small,
      tablet-mini,
      tablet-micro,
      mobile-all
    ) {
      text-align: center;
    }

    @include mq.media(mobile-all) {
      font-size: f.px2rem(36);
      line-height: f.px2rem(40);
      letter-spacing: f.px2rem(1.29);
    }
  }

  &__info {
    @include mq.media(
      tablet-large,
      tablet-regular,
      tablet-small,
      tablet-mini,
      tablet-micro
    ) {
      max-width: 55%;
      text-align: center;
    }

    @include mq.media(mobile-all) {
      max-width: 65%;
      text-align: center;
    }
  }
}
