@use '#Sass/abstracts/animations' as a;
@use '#Sass/abstracts/colors' as c;
@use '#Sass/abstracts/functions' as f;
@use '#Sass/abstracts/mixins' as m;
@use '#Sass/abstracts/variables' as v;

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 100%;
  background-color: var(--thm-bg-sidebar);
  color: c.$col-1g;
  border-right: 1px solid var(--thm-border-divider);
  transition: a.$Theme-transition-bg, a.$Theme-transition-border;

  &__boards {
    & > h2 {
      @include m.header-s;
      margin-left: f.px2em(32);
      margin-bottom: f.px2em(20);
      white-space: nowrap;
    }

    & > ul {
      list-style: none;
      padding-left: unset;

      & > li {
        @include m.header-m;
        display: flex;
        column-gap: f.px2em(16);
        width: 90%;
        padding: f.px2em(15) 0 f.px2em(15) f.px2em(32);
        overflow-x: hidden;
        white-space: nowrap;
      }

      & > li.active {
        background-color: c.$col-1a;
        color: c.$White;
        border-radius: 0 v.$border-radius-sidebar-li v.$border-radius-sidebar-li
          0;

        & > img {
          filter: brightness(100);
        }
      }

      & > li.new-board {
        color: c.$col-1a;

        & > img {
          filter: invert(39%) sepia(32%) saturate(1047%) hue-rotate(203deg)
            brightness(97%) contrast(94%);
        }
      }
    }
  }

  &__controls {
    margin: 0 f.px2em(24) f.px2em(48) f.px2em(24);
  }

  &__theme {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: f.px2em(15) 0;
    margin-bottom: f.px2em(22);
    background-color: var(--thm-bg-sidebar-theme);
    border-radius: v.$border-radius-sidebar-theme;
    transition: a.$Theme-transition-bg;
  }

  &__hide {
    @include m.header-m;
    display: flex;
    align-items: center;
    column-gap: f.px2em(15);
    color: inherit;
    background-color: transparent;

    & > p {
      margin-top: 1px;
    }
  }
}

// NOTE:  Need to refactor when list items are mapped/dynamic as JSX.
.animation {
  animation: sidebar-hide 2s 700ms forwards;

  & .sidebar__boards > h2,
  .sidebar__hide,
  .sidebar__theme {
    animation: sidebar-opacity 0.25s forwards ease-in-out;
  }

  & .sidebar__boards li:nth-child(1) {
    --delay: 4;
  }

  & .sidebar__boards li:nth-child(2) {
    --delay: 3;
  }

  & .sidebar__boards li:nth-child(3) {
    --delay: 2;
  }

  & .sidebar__boards li:nth-child(4) {
    --delay: 1;
  }

  & .sidebar__boards > ul,
  .sidebar__boards > ul > li,
  .sidebar__boards > ul > li > p {
    animation: sidebar-li 1.75s calc(var(--delay) * 150ms + 75ms) forwards ease;
  }
}
