@use '#Sass/abstracts/animations' as a;
@use '#Sass/abstracts/colors' as c;
@use '#Sass/abstracts/functions' as f;
@use '#Sass/abstracts/mixins' as mx;
@use '#Sass/abstracts/media-queries' as mq;
@use '#Sass/abstracts/variables' as v;

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 100%;
  background-color: var(--thm-bg-sidebar);
  color: c.$col-1g;
  border-right: 1px solid var(--thm-border-divider);
  transition: a.$Theme-transition-bg, a.$Theme-transition-border;

  @include mq.media(tablet-large, tablet-medium, tablet-small) {
    width: 260px;
  }

  @include mq.media(mobile-all) {
    display: none;
  }

  &__boards {
    & > h2 {
      @include mx.header-s;
      margin: f.px2em(15) 0 f.px2em(32) f.px2em(20);
      white-space: nowrap;
    }

    & > ul {
      list-style: none;
      padding-left: unset;

      & > li {
        cursor: pointer;
        @include mx.header-m;
        display: flex;
        column-gap: f.px2em(16);
        width: 90%;
        padding: f.px2em(15) 0 f.px2em(15) f.px2em(32);
        overflow-x: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        &:hover {
          color: c.$col-1a;
          background-color: var(--thm-sidebar-item-hover);
          border-radius: 0 v.$border-radius-sidebar-li
            v.$border-radius-sidebar-li 0;
        }
      }

      & > li.active {
        background-color: c.$col-1a;
        color: c.$White;
        border-radius: 0 v.$border-radius-sidebar-li v.$border-radius-sidebar-li
          0;

        & > img {
          filter: brightness(100);
        }
      }

      & > li.newBoard {
        color: c.$col-1a;

        & > img {
          filter: invert(39%) sepia(32%) saturate(1047%) hue-rotate(203deg)
            brightness(97%) contrast(94%);
        }
      }
    }
  }

  &__controls {
    margin: 0 f.px2em(24) f.px2em(48) 0;

    @include mq.media(tablet-large, tablet-medium, tablet-small) {
      margin: 0 f.px2em(12) f.px2em(48) f.px2em(12);
    }
  }

  &__theme {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: f.px2em(24);
    padding: f.px2em(15) 0;
    background-color: var(--thm-bg-sidebar-theme);
    border-radius: v.$border-radius-sidebar-theme;
    transition: a.$Theme-transition-bg;
  }

  &__hide {
    @include mx.header-m;
    display: flex;
    align-items: center;
    column-gap: f.px2em(15);
    width: 100%;
    padding: f.px2em(15) 0 f.px2em(15) f.px2em(32);
    margin-top: f.px2em(8);
    color: inherit;
    background-color: transparent;

    &:hover {
      background-color: var(--thm-sidebar-item-hover);
      border-radius: 0 v.$border-radius-sidebar-li v.$border-radius-sidebar-li 0;
    }

    @include mq.media(tablet-large, tablet-medium, tablet-small) {
      margin: f.px2em(30) 0 0 f.px2em(11);
    }

    & > p {
      margin-top: 1px;
    }
  }

  &__show {
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 48px;
    margin-bottom: f.px2em(32);
    background-color: c.$col-1a;
    border-radius: 0 v.$border-radius-sidebar-li v.$border-radius-sidebar-li 0;
    // Default position is off-screen
    transform: translateX(-100%);

    &:hover {
      background-color: c.$col-1b;
    }

    & > img {
      height: auto;
    }
  }
}

.animationHide {
  animation: sidebar-hide-300 2s var(--delay-sidebar) forwards;

  @include mq.media(tablet-large, tablet-medium, tablet-small) {
    animation: sidebar-hide-260 2s var(--delay-sidebar) forwards;
  }

  & .sidebar__theme {
    animation: sidebar-opacity 0.25s ease-in-out normal forwards;
  }

  & .sidebar__boards > h2,
  .sidebar__hide {
    animation: sidebar-opacity 0.25s ease-in-out forwards;
  }

  // NOTE:  The --delay variable is set per list-item through the Aside.tsx component; for dynamic list length.
  & .sidebar__boards > ul,
  .sidebar__boards > ul > li,
  .sidebar__boards > ul > li > p {
    animation: sidebar-li 1.75s calc(var(--delay-li) * 150ms + 75ms) forwards
      ease;
  }

  & .sidebar__show {
    transform: translateX(0%);
    transition: transform 1.5s ease 1s;
  }
}

.animationShow {
  animation: sidebar-hide-reverse-300 2s forwards;

  @include mq.media(tablet-large, tablet-medium, tablet-small) {
    animation: sidebar-hide-reverse-260 2s forwards;
  }

  & .sidebar__boards > h2,
  .sidebar__theme,
  .sidebar__hide {
    animation: sidebar-opacity-reverse 0.75s ease-in-out 1.75s normal backwards;
  }

  // NOTE:  The --delay variable is set per list-item through the Aside.tsx component; for dynamic list length.
  & .sidebar__boards > ul,
  .sidebar__boards > ul > li,
  .sidebar__boards > ul > li > p {
    animation: sidebar-li-reverse 1.75s ease
      calc(var(--delay-li) * 150ms + 75ms) normal backwards;
  }

  & .sidebar__show {
    transform: translateX(-100%);
    transition: transform 1.5s ease;
  }
}
