@use '#Sass/abstracts/colors' as c;
@use '#Sass/abstracts/functions' as f;
@use '#Sass/abstracts/media-queries' as mq;
@use '#Sass/abstracts/variables' as v;

// NOTE: .
// The modal CSSTransition classes are in the _animations.scss file.
// .module.scss files are hashed, and this interferes with the dynamic addition
// of transition class names, e.g. '-enter-done', on top of the base 'modal' class name

.container {
  // 1px accounts for Nav top, used in intersection observer
  position: fixed;
  top: calc(0px + v.$navbar-dim-vertical - 1px);
  bottom: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: calc(100% - v.$navbar-dim-vertical + 1px);
  background-color: c.$col-3a;
  overflow-y: auto;
  z-index: f.z('modal');
}

.elementContainer {
  background-color: c.$col-2b;
  border-radius: 0 0 v.$border-radius-1 v.$border-radius-1;

  @include mq.media(tablet-regular, tablet-small) {
    padding: f.px2em(32) v.$padding-tablet-small-horizontal;
  }

  @include mq.media(tablet-mini, tablet-micro) {
    padding: f.px2em(32) v.$padding-tablet-mini-horizontal;
  }

  @include mq.media(mobile-all) {
    padding: f.px2em(32) v.$padding-mobile-horizontal;
  }
}
