/* -------------------------------- */
/*   Colors                         */
/* -------------------------------- */
/*   ~~[PROJECT NAME]~~             */
/*   # [PROJECT DETAILS]            */
/* -------------------------------- */
/*   version:   1.0                 */
/*   date:      xx/xx/xxxx          */
/*   author:    Simon Stranks       */
/*   website:   github.com/SStranks */
/* -------------------------------- */

/*   Imports                        */
@use 'variables' as *;

/* -------------------------------- */
/*   Primary Colors                 */
/* -------------------------------- */

$col-1a: hsl(22deg, 65%, 57%); // Orange
$col-1b: hsl(0deg, 0%, 9.7%); // Off Black
$col-1c: hsl(0deg, 0%, 95%); // Grey
$col-1d: hsl(0deg, 0%, 98%); // Light Grey
$col-1e: hsl(0deg, 0%, 80%); // Light Grey

/* -------------------------------- */
/*   Secondary Colors               */
/* -------------------------------- */

$col-2a: hsl(21deg, 94%, 75%); // Orange
$col-2b: hsl(0deg, 0%, 100%); // White
$col-2c: hsl(0deg, 0%, 0%); // Black
$col-2d: hsl(0deg, 65%, 49%); // Blood
$col-2e: hsl(0deg, 0%, 30%); // Grey

/* -------------------------------- */
/*   Tertiary Colors                */
/* -------------------------------- */

$col-3a: hsla(0deg, 0%, 0%, 0.5); // Black
$col-3b: hsla(0deg, 0%, 100%, 0.5); // White
$col-3c: hsla(0deg, 0%, 100%, 0.2); // White
$col-3d: hsla(0deg, 0%, 100%, 0.75); // White
$col-3e: hsl(0deg, 0%, 59%, 0.08); // Grey
$col-3f: hsla(0deg, 0%, 0%, 0.4); // Black
