@use '../../assets/styles/variables' as *;
@use '../../assets/styles/mixins' as *;

header {
  position: relative;
  display: flex;
  justify-content: center;
  height: 160px;
  width: 100%;
  padding-top: 45px;
  background-image: url('../../assets/svg/desktop/bg-pattern-header.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;

  transition: $padding-transition;
  @include media(tablet-regular, tablet-small) {
    padding-top: 10px;
    background-image: url('../../assets/svg/tablet/bg-pattern-header.svg');
  }

  @include media(mobile-large, mobile-medium, mobile-small) {
    background-image: url('../../assets/svg/mobile/bg-pattern-header.svg');
  }

  & > div {
    width: 100%;

    // transition: $padding-transition;
    @include desktop-medium {
      padding: 0 10% 56px 10%;
    }

    @include media(desktop-small, tablet-regular, tablet-small) {
      padding: 0 5% 56px 5%;
    }
  }
}
