@use '../../assets/styles/variables' as *;

header {
  background-image: url('../../assets/svg/desktop/bg-pattern-header.svg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 225px;
  width: 100%;
  padding: $padding-desktop;
}
