@use '../../assets/styles/variables' as *;

header {
  position: relative;
  height: 160px;
  width: 100%;
  padding: $padding-desktop;
  padding-top: 45px;
  background-image: url('../../assets/svg/desktop/bg-pattern-header.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  input[type='text'] {
    width: 100%;
    border: none;
    // color: red;
    color: var(--color-input-text);
    &::placeholder {
      // color: green;
      color: var(--color-placeholder);
    }
    &:focus {
      outline: none;
    }
  }
}

.search-bar {
  // position: absolute;
  display: grid;
  grid-template-columns: 40% 25% 35%;
  bottom: 0;
  transform: translateY(50%);
  width: 100%;
  height: 80px;
  border-radius: 5px;
  background-color: var(--color-elements);
  transition: $Theme-transition;
  &__compartment {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 15px;
    &:not(:last-child) {
      border-right: 2px solid var(--color-background);
      transition: border-right 1s;
    }
    & label {
      color: var(--color-text-h);
      transition: $Theme-transition;
    }
    &__sub {
      display: flex;
      justify-content: flex-start;
      & img {
        margin-right: 16px;
      }
    }
  }
}

// .search-bar {
//   // position: absolute;
//   display: flex;
//   align-items: center;
//   bottom: 0;
//   transform: translateY(50%);
//   width: 100%;
//   height: 80px;
//   padding: 16px;
//   border-radius: 5px;
//   background-color: var(--color-elements);
// }

// .search-field {
//   width: 100%;
//   height: 100%;
//   background-color: rgba(255, 0, 0, 0.233);
//   input {
//     border: none;
//   }
// }
