@use '../../assets/styles/variables' as *;

header {
  position: relative;
  height: 160px;
  width: 100%;
  padding: $padding-desktop;
  padding-top: 45px;
  background-image: url('../../assets/svg/desktop/bg-pattern-header.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.search-bar {
  // position: absolute;
  bottom: 0;
  transform: translateY(50%);
  width: 100%;
  height: 80px;
  border-radius: 5px;
  background-color: var(--color-elements);
}
