@use '#Sass/variables' as *;
@use '#Sass/mixins' as *;
@use '#Sass/functions' as f;

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;

  &__subContainer {
    display: flex;
    flex-direction: column;
    row-gap: f.px2em(65);
    width: 730px;
    margin-top: f.px2em(72);
  }
}
