@use '#Sass/abstracts/colors' as c;
@use '#Sass/abstracts/functions' as f;
@use '#Sass/abstracts/mixins' as mx;
@use '#Sass/abstracts/media-queries' as mq;
@use '#Sass/abstracts/variables' as v;
@use '#Sass/components/buttons' as btn;

.footer {
  width: 100%;
  padding: v.$padding-desktop;
  padding-top: f.px2em(144);
  padding-bottom: f.px2em(72);
  background-color: c.$col-1b;
  margin-top: 380px;

  @include mq.desktop-small {
    padding: v.$padding-desktop-small;
    padding-top: f.px2em(144);
    padding-bottom: f.px2em(72);
  }

  @include mq.tablet-extra-large {
    padding: v.$padding-tablet-xl;
    padding-top: f.px2em(144);
    padding-bottom: f.px2em(72);
  }

  @include mq.tablet-large {
    padding: v.$padding-tablet-large;
    padding-top: f.px2em(144);
    padding-bottom: f.px2em(72);
  }

  &__container {
    position: relative;
  }

  &__hero {
    position: absolute;
    top: 0;
    transform: translateY(-125%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: c.$col-1a;
    background-image: url(~svg/desktop/bg-pattern-call-to-action.svg);
    background-position: center right;
    background-repeat: no-repeat;
    border-radius: 15px;
    padding: f.px2em(72) f.px2em(95);

    &__header {
      @include mx.header-h2;
      min-width: 350px;
      max-width: 40%;
      color: c.$col-1c;
      line-height: f.px2rem(40);
      margin-bottom: f.px2em(6);
    }

    &__body {
      @include mx.body-r;
      max-width: 62%;
      color: c.$col-1c;
    }

    &__button {
      @include btn.btn-primary;
      flex-shrink: 0;
      text-transform: uppercase;
    }
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    height: 28px;
  }

  &__links {
    display: flex;
    justify-content: space-between;
    column-gap: f.px2em(42);
  }

  &__link {
    @include mx.body-nav-link;
    color: c.$col-1c;
    text-transform: uppercase;

    &:hover {
      @include mx.text-link-underline;
    }
  }

  &__hr {
    margin-top: 40px;
    margin-bottom: 30px;
    border-color: c.$col-2b;
    border-style: solid;
  }

  &__info {
    display: flex;
    justify-content: space-between;

    & p {
      color: c.$col-1c;
      opacity: 50%;
    }
  }

  &__details {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    max-width: 50%;

    & > div {
      flex-shrink: 0;
    }

    & > :nth-child(1) {
      margin-right: f.px2em(24);
    }
  }

  &__bold-text {
    font-weight: 700;
    letter-spacing: 0.75px;
  }

  &__icons {
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    column-gap: 16px;

    & > img {
      height: fit-content;

      &:hover {
        cursor: pointer;
        filter: brightness(0) saturate(100%) invert(93%) sepia(66%)
          saturate(940%) hue-rotate(293deg) brightness(89%) contrast(131%);
      }
    }
  }
}
