@use '../../assets/sass/variables' as *;
@use '../../assets/sass/mixins' as *;
@use '../../assets/sass/functions' as f;

.container {
  @include card;
  height: 100%;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  row-gap: f.px2em(14);
  column-gap: f.px2em(8);
}
