@use '../../assets/sass/variables' as *;
@use '../../assets/sass/mixins' as *;
@use '../../assets/sass/functions' as f;

.item {
  @include card;
  cursor: pointer;
  display: grid;
  grid-template-columns: max-content auto max-content;

  @include media(mobile-large, mobile-medium, mobile-small) {
    & > form {
      grid-area: tag;
    }

    & > a {
      grid-area: main;
    }

    & > div {
      grid-area: comment;
    }
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: 'main main' 'tag comment';
    row-gap: f.px2em(16);
  }

  &:hover {
    & .item__suggestion {
      h3 {
        color: $royal-blue;
      }
    }
  }

  & > :nth-child(2) {
    flex-grow: 1;
  }

  &__suggestion {
    & h3 {
      color: $navy-blue;
      margin-bottom: f.px2em(10);
    }

    & p {
      color: $mute-blue;
      margin-bottom: f.px2em(12);
    }

    @include media(mobile-large, mobile-medium, mobile-small) {
      grid-column: span 2;
      grid-row: 1;
    }
  }

  &__comment {
    display: flex;
    align-items: center;
    margin-left: f.px2em(16);

    & img {
      height: fit-content;
      margin-right: f.px2em(8);
    }

    @include media(mobile-large, mobile-medium, mobile-small) {
      justify-self: end;
    }
  }
}

.noComments {
  opacity: 0.4;
}
