@use '#Sass/variables' as *;
@use '#Sass/mixins' as *;
@use '#Sass/functions' as f;

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // max-width: 730px;
  padding-left: f.px2em(7);

  &__titleblock {
    & > h1 {
      @include media(mobile-all, tablet-small) {
        font-size: f.px2rem(32);
      }

      @include media(mobile-small) {
        font-size: f.px2rem(24);
      }
    }

    & > p {
      @include body-1;
      margin-top: f.px2em(6);

      & > span {
        @include media(tablet-small, mobile-all) {
          display: none;
        }
      }
    }
  }

  &__controls {
    display: flex;
    align-items: center;
    column-gap: f.px2em(40.5);

    @include media(tablet-small, mobile-all) {
      column-gap: f.px2em(20);
    }
  }
}
