@use '#Sass/abstracts/colors' as c;
@use '#Sass/abstracts/functions' as f;
@use '#Sass/abstracts/media-queries' as mq;
@use '#Sass/abstracts/variables' as v;

.container {
  background-color: c.$col-1c;

  &__sub-container {
    padding: v.$padding-desktop;

    @include mq.desktop-small {
      padding: v.$padding-desktop-small;
    }

    @include mq.tablet-xlarge {
      padding: v.$padding-tablet-xl;
    }

    @include mq.media(tablet-large) {
      padding: v.$padding-tablet;
    }

    @include mq.media(tablet-medium, tablet-small) {
      padding: v.$padding-tablet-small;
    }

    @include mq.mobile-all {
      padding: v.$padding-mobile;
    }
  }
}
