/* -------------------------------- */
/*   Themes                         */
/* -------------------------------- */
/*   ~~[PROJECT NAME]~~             */
/*   # [PROJECT DETAILS]            */
/* -------------------------------- */
/*   version:   1.0                 */
/*   date:      xx/xx/xxxx          */
/*   author:    Simon Stranks       */
/*   website:   github.com/SStranks */
/* -------------------------------- */

/*   Imports                        */
@use '../abstracts/colors' as *;

/* -------------------------------- */
/*   Light Theme                    */
/* -------------------------------- */
/*  Referenced in _root.scss        */
/* -------------------------------- */

$light-theme: (
  bg-main: #{$col-1i},
  bg-sidebar: #{$White},
  bg-sidebar-theme: #{$col-1i},
  bg-header: #{$White},
  border-divider: #{$col-1h},
  btn-primary-disabled-bg: #{$col-1m},
  btn-primary-disabled-text: #{$White},
  btn-secondary: #{$col-1l},
  btn-secondary-hover: #{$col-1m},
  chkbox-default-chkbox-bg: #{$White},
  chkbox-default-label-bg: #{$col-1i},
  chkbox-default-label-text: #{$col-1c},
  chkbox-default-label-hover-bg: #{$col-1m},
  column-bg: #{$col-1p},
  dropdown-default-text: #{$Black},
  dropdown-default-bg: #{$White},
  dropdown-default-list-bg: #{$White},
  form-bg: #{$White},
  form-header-text: #{$col-1c},
  form-subtask-text: #{$col-1c},
  form-subtask-text-complete: #{$col-2d},
  form-subtask-bg: #{$col-1i},
  input-text-default-bg: #{$White},
  input-text-default-active-text: #{$Black},
  input-text-default-active-placeholder: #{$col-2a},
  nav-h1: #{$col-1c},
  task-card: #{$White},
  task-title: #{$Black},
);

/* -------------------------------- */
/*   Dark Theme                     */
/* -------------------------------- */

$dark-theme: (
  bg-main: #{$col-1d},
  bg-sidebar: #{$col-1e},
  bg-sidebar-theme: #{$col-1d},
  bg-header: #{$col-1e},
  border-divider: #{$col-1f},
  btn-primary-disabled-bg: #{$col-1n},
  btn-primary-disabled-text: #{$col-2b},
  btn-secondary: #{$White},
  btn-secondary-hover: #{$White},
  chkbox-default-chkbox-bg: #{$col-1e},
  chkbox-default-label-bg: #{$col-1d},
  chkbox-default-label-text: #{$White},
  chkbox-default-label-hover-bg: #{$col-1n},
  column-bg: #{$col-1e},
  dropdown-default-text: #{$White},
  dropdown-default-bg: #{$col-1e},
  dropdown-default-list-bg: #{$col-1d},
  form-bg: #{$col-1e},
  form-header-text: #{$White},
  form-subtask-bg: #{$col-1d},
  form-subtask-text: #{$White},
  form-subtask-text-complete: #{$col-2e},
  input-text-default-bg: #{$col-1e},
  input-text-default-active-text: #{$White},
  input-text-default-active-placeholder: #{$col-2b},
  nav-h1: #{$White},
  task-card: #{$col-1e},
  task-title: #{$White},
);

// Class applied to body tag to overwrite default variables
.dark-theme {
  @each $theme-item, $value in $dark-theme {
    --thm-#{$theme-item}: #{$value};
  }
}

/* -------------------------------- */
/*   Alt Theme                      */
/* -------------------------------- */
