@use '../../assets/sass/mixins' as *;
@use '../../assets/sass/variables' as *;
@use '../../assets/sass/functions' as f;

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  column-gap: f.px2em(30);
  row-gap: f.px2em(32);

  @include media(tablet-regular, tablet-small) {
    column-gap: f.px2em(10);
    row-gap: f.px2em(24);
  }

  @include media(mobile-large, mobile-medium, mobile-small) {
    display: flex;
    flex-direction: column;
    padding: 0 f.px2em(24);
    padding-top: f.px2em(48);
  }

  &__title {
    h3 {
      color: $navy-blue;

      @include media(
        tablet-regular,
        tablet-small,
        mobile-large,
        mobile-medium,
        mobile-small
      ) {
        @include body-5;
      }
    }

    p {
      color: $mute-blue;

      @include media(
        tablet-regular,
        tablet-small,
        mobile-large,
        mobile-medium,
        mobile-small
      ) {
        @include body-4;
      }
    }
  }

  &__subgrid {
    grid-column: 1 / span 3;
    display: grid;
    grid-template-columns: inherit;
    grid-auto-flow: column;
    column-gap: inherit;
    row-gap: f.px2em(24);

    @include media(tablet-regular, tablet-small) {
      row-gap: f.px2em(16);
    }

    @include media(mobile-large, mobile-medium, mobile-small) {
      display: flex;
      flex-direction: column;
      row-gap: f.px2em(16);
    }
  }
}
