@use '../../assets/sass/variables' as *;
@use '../../assets/sass/functions' as f;

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  width: 100%;
  column-gap: f.px2em(30);
  row-gap: f.px2em(32);

  &__title {
    h3 {
      color: $navy-blue;
    }

    p {
      color: $mute-blue;
    }
  }

  &__subgrid {
    grid-column: 1 / span 3;
    display: grid;
    grid-template-columns: inherit;
    column-gap: inherit;
    row-gap: f.px2em(24);
  }
}
