@use '../../assets/styles/variables' as *;
@use '../../assets/styles/mixins' as *;

.card {
  pointer-events: none;
  min-width: 350px;
  padding-inline: 32px;
  padding-bottom: 36px;
  background-color: var(--color-elements);
  border-radius: 6px;
  transition: $Theme-transition, transform 500ms ease-in-out, box-shadow 500ms;

  @include media(mobile-large, mobile-medium, mobile-small) {
    min-width: unset;
  }

  &:hover {
    transform: scale(102%);
    box-shadow: 0 0 15px 5px hsla(0deg, 0%, 0%, 0.05);
  }

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    padding: 5px;
    border-radius: 16px;
    transform: translate(0, -50%);

    & img {
      width: fit-content;
      height: fit-content;
    }
  }

  &__info {
    margin-top: -15px;

    & span {
      margin: 0 10px;
      font-size: 32px;
      color: $Dark_Grey;
    }

    &__position {
      margin: 12px 0;

      &:hover {
        color: $Dark_Grey;
        cursor: pointer;
      }
    }

    & h4 {
      margin-top: 44px;
    }
  }
}

// Animation: CSS Transition Group
.appear,
.enter {
  opacity: 0%;
}

.appearActive,
.enterActive {
  opacity: 100%;
  transition: opacity 1000ms ease-in-out;
}

.enterDone {
  pointer-events: all;
}

.exit {
  opacity: 100%;
}

.exitActive {
  opacity: 0%;
  transition: opacity 1000ms ease-in;
}

.exitDone {
  opacity: 0%;
}
