/* -----|| Contents ||-----         */
/* ------------------------         */
/*   1. || Imports                  */
/*   2. || Variables                */
/*   3. || Globals                  */
/*   4. || Main                     */
/*   5. || FrontEnd Mentor Footer   */
/*   6. || Media Queries            */
/* -------------------------------- */



/*   1. || Imports                  */
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');



/*   2. || Variables                */
:root {
  /* HSL Values */
  /* Primary */
  --Light-red: 356, 100%, 66%;                      /*(CTA text)*/
  --Very-light-red: 355, 100%, 74%;                 /*(CTA hover background)*/
  --Very-dark-blue: 208, 49%, 24%;                  /*(headings)*/
  /* Neutral */
  --White: 0, 0%, 100%;                             /*(text)*/
  --Grayish-blue-: 240, 2%, 79%;                    /*(footer text)*/
  --Very-dark-grayish-blue: 207, 13%, 34%;          /*(body copy)*/
  --Very-dark-black-blue: 240, 10%, 16%;            /*(footer background)*/
  /* Gradient */
  /* Background gradient - Intro/CTA mobile nav: */
  --Very-light-red: 13, 100%, 72%;
  --Light-red: 353, 100%, 62%;
  /* Background gradient - body: */
  --Very-dark-gray-blue: 237, 17%, 21%;
  --Very-dark-desaturated-blue: 237, 23%, 32%;
}



/*   3. || Globals                  */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {display: block; height: 100%}
a {text-decoration: none}
li {list-style: none}
h1 {font-size: 3.5rem}
h3 {font-size: 1.75rem; margin-bottom: 1rem;}
button {
  width: 125px;
  height: 40px;
  display: flex; 
  justify-content: center; 
  align-items: center;
  border: none; 
  border-radius: 25px;
  background: #fff;
  font: 600 1rem 'Ubuntu'; 
  color: hsl(var(--Light-red));
  margin-left: 2rem;
}

.hidden {display: none !important;}



/*   4. || Main                     */
html, body {
  height: 100%;
  width: 100%;
  font-size: 16px;
  font-weight: 300, 400, 500, 600, 700;
  font-family: 'Overpass', 'Ubuntu', sans-serif;
  line-height: 1.6;
  background: #fff;
  color: hsl(var(--White));
}

.container {
  height: fit-content;
  width: fit-content;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  overflow: hidden;
}

header {
  width: 100%;
  background: linear-gradient(to right, hsl(var(--Very-light-red)), hsl(var(--Light-red)));
  border-radius: 0 0 0 75px;
  text-align: center;
  padding: 0 0 0 10rem;
}

.background {
  background: url('./images/bg-pattern-intro.svg'); 
  background-size: 250%;
  background-position: 31% 51%;
  padding: 4rem 10rem 8rem 0;
} 

.top-nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.top-nav .login {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 0 0 3rem;
}

nav ul {
  display: flex;
  flex-direction: row;
  margin: 0 1rem;
}

nav > ul > li::after {
  content: url('./images/icon-arrow-light.svg');
  margin-left: 0.5rem;
}

nav a {
  display: none;
}

header h1 {
  padding-top: 7rem;
}

header span {
  font: 300 1.15rem 'Overpass';
}

.start-learn {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

#learn-more {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  margin-left: 1rem;
}

section {
  display: grid;
  grid-template-columns: 50% 50%;
  color: hsl(var(--Very-dark-grayish-blue));
}

section h2, section h3 {
  color: hsl(var(--Very-dark-blue));
}

.sec-1 {
  position: relative;
  padding: 8rem 0 10rem 0;
}

.sec-1 h2 {
  font-size: 2.5rem;
  text-align: center;
  grid-column: 1 / span 2;
  margin-bottom: 5rem;
}

.sec-1 h3, .sec-1 p {
  grid-column: 1;
  padding-left: 10rem;
  padding-right: 3rem;
}

.sec-1 p {
  margin-bottom: 5rem;
}

.sec-1 img {
  position: absolute;
  height: 90%;
  right: 0;
  top: 50%;
  transform: translate(30%, -50%);
}

.sec-2 {
  background: linear-gradient(to right, hsl(var(--Very-dark-gray-blue)), hsl(var(--Very-dark-desaturated-blue)));

}

footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: hsl(var(--Very-dark-black-blue));
  border-radius: 0 75px 0 0;
  padding: 4rem 10rem;
}

footer ul {
  display: flex;
  flex-direction: column;
}

footer span {
  margin-bottom: 2rem;
}

footer li {
  color: hsl(var(--Grayish-blue-));
  margin-bottom: 0.5rem;
}