@use 'variables';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  position: relative;
  height: 100%;
  width: 100%;
  font-size: 28px;
  font-weight: 800;
  font-family: 'Manrope', sans-serif;
  line-height: 1.6;
  background: variables.$dark-grayish-blue;
  // background-image: url('./images/bg-bottom.svg'), url('./images/bg-top.svg');
  // background-repeat: no-repeat;
  // background-position: bottom left, top right;
  // background-size: auto;
  color: variables.$light-cyan;
}

img {
  display: block;
  height: 100%;
}

a {
  color: hsl(var(--Dark-Grayish-Violet));
  letter-spacing: 0.1rem;
  text-decoration: none;
  &:visited {
    color: hsl(var(--Dark-Grayish-Violet));
  }
  &:active {
    color: hsl(var(--Dark-Grayish-Violet));
  }
  a:hover {
    color: hsl(var(--Very-Dark-Violet));
  }
}

li {
  list-style: none;
}

h1 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 0.9;
  color: hsl(var(--Grayish-Blue));
}

h2 {
  font-size: 4.25rem;
  font-family: inherit;
  font-weight: 700;
  line-height: 1;
  color: hsl(var(--Very-Dark-Violet));
}

h3 {
  font-size: 1.75rem;
  font-family: inherit;
  font-weight: 700;
  line-height: 1;
  color: hsl(var(--Very-Dark-Violet));
}

h4 {
  font-size: 1rem;
  color: #000;
}

p {
  font-size: 1rem;
  font-family: inherit;
  font-weight: 700;
  color: hsl(var(--Grayish-Blue));
  line-height: 1.6;
}

span {
  font-size: 4.5rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  line-height: 1;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  font-size: 0.85rem;
  font-family: inherit;
  font-weight: 700;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  padding: 0.75rem 1.75rem;
  cursor: pointer;
}

input {
  font-size: inherit;
  font-family: inherit;
  font-weight: 700;
  color: #000;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

label {
  font-size: 1rem;
  font-weight: bold;
  color: #000;
  cursor: pointer;
}

.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
}

.hidden {
  display: none !important;
}

.show {
  display: inherit !important;
}

.modal-open {
  overflow: hidden;
}

.transition * {
  transition: none !important;
}
