/*  Colours  */
/*  Primary  */
$light-cyan: hsl(193, 38%, 86%);
$neon: hsl(150, 100%, 66%);
$neon-light: hsla(150, 100%, 66%, 0.3);
/*  Neutral  */
$grayish-blue: hsl(217, 19%, 24%);
$dark-grayish-blue: hsl(220, 22%, 16%);

/*  Breakpoints */
$mobile-s: 320px;
$mobile-m: 375px;
$mobile-l: 425px;
$tablet: 768px;
$desktop-s: 1024px;
$desktop-m: 1440px;
$desktop-l: 2560px;
