@use '../../assets/sass/variables' as *;
@use '../../assets/sass/mixins' as *;
@use '../../assets/sass/functions' as f;

.container {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: var(--color-background);
  overflow-y: auto;
}

.modal {
  display: flex;
  flex-direction: column;
  row-gap: f.px2em(68);
  max-width: f.px2em(540);
  height: fit-content;
  padding-top: f.px2em(92);
  margin-bottom: f.px2em(200);

  @include media(
    tablet-regular,
    tablet-small,
    mobile-large,
    mobile-medium,
    mobile-small
  ) {
    padding: f.px2em(56) f.px2em(20) f.px2em(0);
  }
}

.nav {
  display: flex;
  align-items: center;
  column-gap: f.px2em(15);
  color: $mute-blue;
}
