@use '#Sass/variables' as *;
@use '#Sass/mixins' as *;
@use '#Sass/functions' as f;

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include media(mobile-small) {
    flex-direction: column;
    justify-content: center;
    row-gap: 4px;
  }

  & > h3 > span {
    display: none;
  }

  & > img {
    height: fit-content;
    margin-left: f.px2em(16);

    @include media(mobile-small) {
      margin-left: 0;
    }
  }
}
