@use '#Sass/variables' as *;
@use '#Sass/mixins' as *;
@use '#Sass/functions' as f;

.container {
  position: relative;
}

.list {
  position: absolute;
  left: -100%;
  bottom: 0;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  width: 190px;
  padding: f.px2em(24);
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 10px 20px 0 $dropshadow;
  transform: translate(50%, 110%);
  z-index: 5;
}

.iconArrow {
  transform: rotate(180deg);
}

.btn {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;

  @include extend-clickarea(120%, 150%, false);

  @include media(mobile-small) {
    flex-direction: column;
    justify-content: center;
    row-gap: 4px;
  }

  & > h3 > span {
    @include media(mobile-all) {
      display: none;
    }
  }

  & > img {
    height: fit-content;
    margin-left: f.px2em(16);

    @include media(mobile-small) {
      margin-left: 0;
    }
  }
}
