/* -------------------------------- */
/*   Globals                        */
/* -------------------------------- */
/*   FrontEndMentor Challenge       */
/*   #Dev-Jobs Web App              */
/* -------------------------------- */
/*   version:   1.0                 */
/*   date:      30/08/2022          */
/*   author:    Simon Stranks       */
/*   website:   github.com/SStranks */
/* -------------------------------- */

/*   Imports                        */
@use 'variables' as *;

/*   Globals                        */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  position: relative;
  width: 100%;
  background: var(--color-background);
  transition: $Theme-transition;
  color: black;
}

img {
  display: block;
  height: 100%;
}

li {
  list-style: none;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  font-size: 0.85rem;
  font-family: inherit;
  font-weight: 700;
  letter-spacing: 0.1rem;
  padding: 0.75rem 1.75rem;
  cursor: pointer;
}

input {
  font-size: inherit;
  font-family: inherit;
  font-weight: 700;
  color: var(--color-text);
  transition: $Theme-transition;
  background-color: transparent;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  &::placeholder {
    color: var(--color-text);
    transition: $Theme-transition;
  }
}

label {
  font-size: 1rem;
  font-weight: bold;
  color: #000;
  cursor: pointer;
}

.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
}

.hidden {
  display: none !important;
}

.show {
  display: inherit !important;
}

.modal-open {
  overflow: hidden;
}

.transition * {
  transition: none !important;
}
