/* -------------------------------- */
/*   Variables                      */
/* -------------------------------- */
/*   FrontEndMentor Challenge       */
/*   #Dev-Jobs Web App              */
/* -------------------------------- */
/*   version:   1.0                 */
/*   date:      30/08/2022          */
/*   author:    Simon Stranks       */
/*   website:   github.com/SStranks */
/* -------------------------------- */

/*   Global Margin/Padding          */
$padding-desktop: 0 165px 56px 165px;

/*   Colours: Primary               */
$Violet: hsl(235deg, 69%, 61%);
$Light_Violet: hsl(235deg, 82%, 77%);
$Fine_Violet: hsl(253deg, 74%, 91%);
$Very_Dark_Blue: hsl(219deg, 29%, 14%);
$Midnight: hsl(220deg, 29%, 10%);

/*   Colours: Secondary             */
$White: hsl(0deg, 0%, 100%);
$Light_Grey: hsl(210deg, 22%, 96%);
$Grey: hsl(212deg, 23%, 69%);
$Dark_Grey: hsl(214deg, 17%, 51%);

/*  Breakpoints  */
$mobile-s: 320px;
$mobile-m: 375px;
$mobile-l: 425px;
$tablet-s: 700px;
$tablet: 768px;
$desktop-s: 1024px;
$desktop-m: 1440px;
$desktop-l: 2560px;

/*  Themes       */
:root {
  --color-background: #{$Light_Grey};
  --color-elements: #{$White};
  --color-text-p: #{$Dark_Grey};
  --color-text-h: #{$Very_Dark_Blue};
  --color-placeholder: hsl(216deg, 5%, 57%);
  --color-input-text: #{$Dark_Grey};
}

.dark-theme {
  --color-background: #{$Midnight};
  --color-elements: #{$Very_Dark_Blue};
  --color-text-p: #{$Dark_Grey};
  --color-text-h: #{$White};
  --color-placeholder: hsl(216deg, 5%, 57%);
  --color-input-text: #{$White};
}

$Theme-transition: background 1s, color 1s, fill 1s;
