/* -------------------------------- */
/*   Buttons                        */
/* -------------------------------- */
/*   ~~[PROJECT NAME]~~             */
/*   # [PROJECT DETAILS]            */
/* -------------------------------- */
/*   version:   1.0                 */
/*   date:      xx/xx/xxxx          */
/*   author:    Simon Stranks       */
/*   website:   github.com/SStranks */
/* -------------------------------- */

/*   Imports                        */
@use '../abstracts/functions' as f;
@use '../abstracts/colors' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;
@use '../base/themes' as t;

/* -------------------------------- */
/*   Default                        */
/* -------------------------------- */

$border-radius-btn-1: 24px;
$border-radius-btn-2: 20px;

@mixin btn-default {
  display: flex;
  justify-content: center;
  align-items: center;
  // Width to be determined by encapsulating DIV
  width: 100%;
  font-weight: 700;
}

/* -------------------------------- */
/*   Light Theme                    */
/* -------------------------------- */

@mixin btn-primary-l {
  @include btn-default;
  @include header-m;
  padding: f.px2em(15) 0;
  background-color: $col-1a;
  color: $White;
  border-radius: $border-radius-btn-1;

  &:hover {
    background-color: $col-1b;
  }
}

@mixin btn-primary-s {
  @include btn-default;
  @include body-l;
  font-weight: 700;
  padding: f.px2em(15) 0;
  background-color: $col-1a;
  color: $White;
  border-radius: $border-radius-btn-2;

  &:hover {
    background-color: $col-1b;
  }
}

@mixin btn-secondary {
  @include btn-default;
  @include body-l;
  font-weight: 700;
  padding: f.px2em(15) 0;
  background-color: var(--thm-btn-secondary);
  color: $col-1a;
  border-radius: $border-radius-btn-2;

  &:hover {
    background-color: var(--thm-btn-secondary-hover);
  }
}

@mixin btn-destructive {
  @include btn-default;
  @include body-l;
  font-weight: 700;
  padding: f.px2em(15) 0;
  background-color: $col-1j;
  color: $col-1j;
  border-radius: $border-radius-btn-2;

  &:hover {
    background-color: $col-1k;
  }
}

/* -------------------------------- */
/*   Dark Theme                     */
/* -------------------------------- */
