/* -------------------------------- */
/*   Input - Text                   */
/* -------------------------------- */
/*   ~~[PROJECT NAME]~~             */
/*   # [PROJECT DETAILS]            */
/* -------------------------------- */
/*   version:   1.0                 */
/*   date:      xx/xx/xxxx          */
/*   author:    Simon Stranks       */
/*   website:   github.com/SStranks */
/* -------------------------------- */

/*   Imports                        */
@use '../abstracts/functions' as f;
@use '../abstracts/colors' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;
@use '../base/themes' as t;

/* -------------------------------- */
/*   Default                        */
/* -------------------------------- */

@mixin input-text-default {
  @include body-l;
  padding: f.px2em(8) 0 f.px2em(8) f.px2em(16);
  color: var(--thm-input-text-default-active-text);
  background-color: var(--thm-input-text-default-bg);
  border-radius: $border-radius-input-text;
  border: 1px solid $col-2c;

  &::placeholder {
    color: var(--thm-input-text-default-active-placeholder);
  }
}

@mixin input-text-default-error {
  @include body-l;
  color: $col-1j;
  border: 1px solid #ea5555;
}
