@use '#Sass/abstracts/functions' as f;

.quality {
  display: flex;
  flex-direction: column;

  &__title {
    margin: f.px2em(48) 0 f.px2em(32);
    text-transform: uppercase;
  }
}

.image {
  position: relative;
  width: fit-content;

  & > img {
    position: relative;
    height: fit-content;
    width: fit-content;
    z-index: 1;
  }
}

.bg-circle {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-image: url('../../assets/svg/desktop/bg-pattern-small-circle.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 0;
  transform: rotate(180deg);
}
