@use '#Sass/abstracts/colors' as c;
@use '#Sass/abstracts/functions' as f;
@use '#Sass/abstracts/media-queries' as mq;
@use '#Sass/abstracts/mixins' as mx;
@use '#Sass/abstracts/variables' as v;

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: f.px2em(64) 0;
  margin-bottom: f.px2em(160);
  color: c.$col-1c;
  background-color: c.$col-1a;
  background-image: url(~svg/desktop/bg-pattern-intro-app.svg);
  background-position: center left;
  background-repeat: no-repeat;
  border-radius: v.$border-radius-1;

  @include mq.media(tablet-all, mobile-all) {
    margin-bottom: f.px2em(120);
  }

  @include mq.media(mobile-all) {
    padding: f.px2em(105) f.px2em(24);
    margin: 0 -24px f.px2em(120);
    border-radius: 0;
  }

  & > h1 {
    @include mx.header-h1;
    @include mq.media(mobile-all) {
      font-size: f.px2em(32);
      line-height: 36px;
    }
  }

  & > p {
    max-width: 40%;
    margin-top: f.px2em(24);
    text-align: center;

    @include mq.media(tablet-all) {
      max-width: 65%;
    }

    @include mq.media(mobile-all) {
      max-width: 100%;
      font-size: f.px2em(15);
    }
  }
}

.examplegrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 32px;
  margin-bottom: f.px2em(160);

  @include mq.media(tablet-all, mobile-all) {
    grid-template-columns: 1fr;
    gap: 40px;
    margin-bottom: f.px2em(120);
  }
}

.viewgrid {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 308px;
  column-gap: 30px;

  @include mq.media(tablet-all, mobile-all) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 200px);
    row-gap: 24px;
    height: unset;
  }

  @include mq.media(mobile-all) {
    grid-template-rows: repeat(2, 250px);
  }
}
