/* -----|| Contents ||-----         */
/* ------------------------         */
/*   1. || Imports                  */
/*   2. || Variables                */
/*   3. || Globals                  */
/*   4. || Main                     */
/*   5. || FrontEnd Mentor Footer   */
/*   6. || Media Queries            */
/* -------------------------------- */

/*   1. || Imports                  */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

/*   2. || Variables                */
:root {
  /* HSL Values */
  /* Primary */
  --Desaturated-Red: 0, 36%, 70%;
  --Soft-Red: 0, 93%, 68%;
  /* Neutral */
  --Dark-Grayish-Red: 0, 6%, 24%;
  /* Gradients */
  /* --Linear1: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  --Linear2: (0, 80%, 86%), (0, 74%, 74%); */
}

/*   3. || Globals                  */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 16px;
  font-family: 'Josefin Sans', sans-serif;
  line-height: 1.6;
  background: #fff;
  color: hsl(var(--Desaturated-Red));
}

/*   4. || Main                     */
.container {
  height: 100%;
  width: 100%;
}

.card {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: minmax(min-content, auto) minmax(auto, auto);
  grid-template-rows: 1fr;
}

h1 {
  font-size: 4rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1rem;
  line-height: 1.2;
  margin-top: 5rem;
}

span {
  font-weight: 600;
  color: hsl(var(--Dark-Grayish-Red));
}

p {
  font-weight: 400;
  margin-top: 2rem;
}

.email-submit {
  position: relative;
}

input {
  display: block;
  border: 1px solid hsla(var(--Desaturated-Red), 0.4);
  background: #fff;
  font-family: 'Josefin Sans', sans-serif;
  text-align: left;
  padding: 1rem 1.5rem;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  margin-top: 2rem;
}

input::placeholder {
  color: hsla(var(--Desaturated-Red), 0.4);
}

button {
  position: absolute;
  height: 50px;
  width: 100px;
  right: 0;
  transform: translate(0, -100%);
  background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  border: none;
  border-radius: 25px;
  box-shadow: 0 10px 20px 5px hsla(var(--Soft-Red), 0.2);
  cursor: pointer;
}

.error-icon {
  position: absolute;
  left: -40px;
  cursor: default;
}

.error-msg {
  position: absolute;
  transform: translate(15%, 40%);
  color: hsla(var(--Soft-Red), 0.7);
  font-size: 0.75rem;
  margin: 0;
}

.hidden {
  display: none;
}

.card-left {
  background-image: url(./images/bg-pattern-desktop.svg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4rem 12rem 8rem 10rem;
  position: relative;
}

.card-right {
  height: 100%;
}

/* .card-right {
  background: url('./images/hero-desktop.jpg');
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
} */

/*   5. || FrontEnd Mentor Footer   */
.attribution {
  font-size: 1rem; 
  text-align: center;
  /* color:#000; */
  display: block;
  margin: 0 auto;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
}

.attribution a { 
  color: hsl(var(--Dark-Grayish-Red));
}

.attribution a:hover {
  color: hsla(var(--Soft-Red), 0.7);
}

/*   6. || Media Queries            */
/*      Tablets and Under           */
/* @media (max-width: 500px) {

} */

/*      Mobile                      */
@media (max-width: 375px) {
  /* body, .container {
    height: 100%;
    width: 100%;
  } */

  .card {
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
    width: 100%;
  }
  
  .card-left {
    order: 2;
    position: relative;
    background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    text-align: center;
    height: 100%;
    width: 375px;
    padding: 4rem;
    margin-top: 5rem;
  }

  .card-left .logo {
    position: absolute;
    top: -24.75rem;
    left: 2.5rem;
  }

  .card-left p {
    line-height: 1.6;
  }
  
  h1 {
    margin-top: 2rem;
    line-height: 1;
  }

  span {
    /* width: 100%; */
  }

  .card-right {
    content: url('./images/hero-mobile.jpg');
    order: 1;
    object-fit: contain;
    height: 100%;
    width: 375px;
    margin-top: 6rem;
  }

  input {
    background: transparent;
    padding: 1.5rem 1.5rem;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    margin-top: 2rem;
  }

  button {
    width: 68px;
  }

}