/* -----|| Contents ||-----         */
/* ------------------------         */
/*   1. || Imports                  */
/*   2. || Variables                */
/*   3. || Globals                  */
/*   4. || Main                     */
/*   5. || FrontEnd Mentor Footer   */
/*   6. || Media Queries            */
/* -------------------------------- */

/*   version:   1.0                 */
/*   date:      06/09/2021          */
/*   author:    Simon Stranks       */
/*   website:   github.com/SStranks */



/*   1. || Imports                  */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');


/*   2. || Variables                */
:root {
  /* HSL Values                     */
  /* Primary                        */
  --Gradient: linear-gradient(hsl(6, 100%, 80%), hsl(335, 100%, 65%));
  /* Neutral                        */
  --Pale-Blue: 243, 100%, 93%;
  --Grayish-Blue: 229, 7%, 55%;
  --Dark-Blue: 228, 56%, 26%;
  --Very-Dark-Blue: 229, 57%, 11%;
  --White: 100, 100%, 100%;
}


/*   3. || Globals                  */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {display: block; height: 100%}
a {text-decoration: none}
a:visited {color: inherit}
a:active {color: inherit}
li {list-style: none}
h1 {font-size: 1.7rem; color: #000}
h2 {font-size: 3.25rem; font-family: 'Josefin Sans'; font-weight: 400; line-height: 1; color: #000; text-transform: uppercase}
h3 {font-size: 2.2rem; font-family: 'Josefin Sans'; font-weight: 400; line-height: 1; color: #fff}
h4 {font-size: 1.0rem; color: #000}
p {font-size: 0.9rem; line-height: 1.8;}
span {font-size: 1rem; font-weight: 700; line-height: 1}
button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none; 
  font-family: inherit;
  cursor: pointer
}
input {
  font-size: inherit;
  font-family: inherit;
  font-weight: 700;
  color: #000;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
label {font-size: 1.0rem; font-weight:bold; color: #000; cursor: pointer}

.flex-row {display: flex; justify-content: space-between; align-items: center}
.flex-column {display: flex; flex-direction: column; justify-content: space-between; align-items: center}
.hidden {display: none !important}
.show {display:inherit !important}
.modal-open {overflow: hidden}


/*   4. || Main                     */
html, body {
  height: 100%;
  width: 100%;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400, 700;
  line-height: 1.6;
  color: hsl(var(--Pale-Blue));
  background: hsl(var(--Very-Dark-Blue)) url('./images/bg-desktop.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0% 100%;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.container > .flex-row {
  align-items: flex-end;
}

.card {
  background: hsl(var(--Dark-Blue));
  border-radius: 10px;
}

.c-1 {
  border-radius: 10px 100px 10px 10px;
  padding: 3rem;
  padding-right: 10rem;
  margin-right: 2.25rem;
}

.c-1 .flex-row {
  margin: 2.5rem 0 0 0;
}

.c-1 .icon {
  height: 45px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: hsl(var(--Very-Dark-Blue));
  border-radius: 9px;
  padding: 0.75rem;
}

.c-1 .icon:nth-child(2) {
  margin: 0 1rem;
}

.c-1 .icon img {
  height: fit-content;
  width: fit-content;
}

.c-2 {
  position: relative;
  padding: 3rem;
}

.c-2 .GBleft {
  position: absolute;
  top: 3rem;
  right: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  background: hsl(var(--Pale-Blue));
  color: hsl(var(--Grayish-Blue));
  border-radius: 12px 12px 0 12px;
  padding: 1.25rem;
  transform: translate(0, -125%);
}

.c-2 .GBleft::after {
  content: '';
  position: absolute;
  bottom: -24px;
  right: 0;
  height: 0;
  width: 0;
  border-top: 25px solid hsl(var(--Pale-Blue));
  border-left: 25px solid transparent;
}

.c-2 #GBnum2 {
  font-size: 3rem;
  color: #000;
}

.c-2 .slidercontainer {
  position: relative;
  height: 10px;
  width: 450px;
  margin: 1rem 0;
}

.c-2 .slider {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
  top: 50%;
  left: 4px;
  transform: translate(0, -50%);
  width: 438px; 
  height: 10px;
  background: transparent;
}

.slidercontainer .track {
  position: absolute;
  height: 20px;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  background: hsla(var(--Very-Dark-Blue), 0.5);
  border-radius: 10px;
  pointer-events: none;
}
  
.slidercontainer .track .track-inner {
  position: absolute;
  top: 50%;
  left: 4px;
  height: 65%;
  width: 50%;
  max-width: 442px;
  transform: translate(0, -50%);
  background: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
  border-radius: 10px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px; 
  height: 10px; 
  background: hsl(var(--White));
  border-radius: 50%;
  cursor: pointer;
}