@use '#Sass/variables' as *;
@use '#Sass/mixins' as *;
@use '#Sass/functions' as f;
@use '#Sass/animations' as a;
@use '#Sass/components/buttons' as btn;

.container {
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  max-width: 720px;
  padding: f.px2em(30) f.px2em(56) f.px2em(30) f.px2em(160);
  background-color: var(--color-sidebar-panel);
  border-radius: $border-radius-4;
  // To set the ::before z-index/Z-value
  transform-style: preserve-3d;
  transition: a.$Theme-transition;

  @include media(tablet-large) {
    width: 100%;
  }

  @include media(tablet-medium, tablet-small, mobile-all) {
    width: 100%;
    padding: f.px2em(20) f.px2em(24) f.px2em(20) 0;
    border-radius: 0;
  }

  &::before {
    content: '';
    pointer-events: none;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-92%) translateZ(-1px);
    width: 100%;
    height: 200px;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.0001) 0%,
      rgba(0, 0, 0, 0.1) 100%
    );
    transition: opacity 1s;
  }
}

// Class added when scroll reaches end of form
.active {
  &::before {
    opacity: 0;
  }
}

.btnCancel {
  @include btn.btn-theme-wrapper(a.$Theme-transition, $border-radius-3);
  @include btn.btn-grey;

  & > button {
    @include btn.btn-element;
    @include btn.btn-grey-hover;
  }
}

.btnDiscard {
  @include btn.btn-theme-wrapper(a.$Theme-transition, $border-radius-3);
  @include btn.btn-grey;

  & > button {
    @include btn.btn-element;
    @include btn.btn-grey-hover;
  }
}

.btnSaveDraft {
  @include btn.btn-theme-wrapper(a.$Theme-transition, $border-radius-3);
  @include btn.btn-navy;

  & > button {
    @include btn.btn-element;
    @include btn.btn-navy-hover;
  }
}

.btnSaveSend {
  @include btn.btn-theme-wrapper(a.$Theme-transition, $border-radius-3);
  @include btn.btn-purple;

  & > button {
    @include btn.btn-element;
    @include btn.btn-purple-hover;
  }
}

.btnSaveChanges {
  @include btn.btn-theme-wrapper(a.$Theme-transition, $border-radius-3);
  @include btn.btn-purple;

  & > button {
    @include btn.btn-element;
    @include btn.btn-purple-hover;
  }
}
