@use 'variables';

.options-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 6rem;
  @media (max-width: variables.$desktop-m - 1px) {
    padding: 3rem 4rem;
  }
  @media (max-width: variables.$mobile-l) {
    flex-direction: column;
    padding: 2rem 1.5rem;
  }
}

.search {
  display: flex;
  height: 50px;
  width: 35%;
  background-color: var(--color-elements);
  transition: variables.$Theme-transition;
  border-radius: 2px;
  box-shadow: 0 0 5px 1px hsla(0, 0%, 0%, 0.1);
  padding: 1rem 2rem;
  & .faMagnifyingGlass {
    width: 20px;
    height: 20px;
    opacity: 30%;
    margin-right: 1.5rem;
  }
  & input {
    border: none;
    font-weight: 400;
    &:focus {
      outline: none;
    }
  }
  &:hover .faMagnifyingGlass {
    animation: magnifyingGlass 0.5s ease-in-out infinite alternate;
    @keyframes magnifyingGlass {
      0% {
        transform: scale(100%);
      }
      100% {
        transform: scale(115%);
      }
    }
  }
  @media (max-width: variables.$mobile-l) {
    width: 100%;
    margin-bottom: 2rem;
  }
}

.dropdown {
  position: relative;
  border-radius: 2px;
  & span {
    font-size: 1rem;
    font-weight: 400;
    margin-right: 3rem;
  }
  & > button {
    height: 50px;
    display: flex;
    background-color: var(--color-elements);
    transition: variables.$Theme-transition;
    box-shadow: 0 0 5px 1px hsla(0, 0%, 0%, 0.1);
    &:hover .faDownArrow {
      animation: animationArrow 0.5s ease-in-out infinite alternate;
      @keyframes animationArrow {
        0% {
          transform: translate(0, 0);
        }
        100% {
          transform: translate(0, 3px);
        }
      }
    }
  }
  @media (max-width: variables.$mobile-l) {
    align-self: flex-start;
    & > button span {
      font-size: 0.9rem;
    }
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  bottom: 0;
  transform: translate(0, 105%);
  width: 100%;
  border-radius: 2px;
  background-color: var(--color-elements);
  transition: variables.$Theme-transition;
  box-shadow: 0 0 5px 1px hsla(0, 0%, 0%, 0.1);
  padding: 0.75rem 1.75rem;
  & li {
    padding: 0.25rem 0;
    &:hover {
      font-weight: 600;
    }
    & button {
      all: unset;
      color: var(--color-text);
      transition: variables.$Theme-transition;
      cursor: pointer;
      &.filter-active {
        font-weight: 600;
      }
    }
  }
}

.faDownArrow,
.faMagnifyingGlass {
  & path {
    fill: var(--color-text);
    transition: variables.$Theme-transition;
  }
}

.active {
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 50px;
  column-gap: 60px;
  // row-gap: 50px;
  // column-gap: 3%;
  padding: 1.5rem 6rem;
  @media (max-width: variables.$desktop-m - 1px) {
    grid-template-columns: repeat(3, minmax(auto, 1fr));
    column-gap: 35px;
    padding: 1.5rem 4rem;
  }
  @media (max-width: 1000px) {
    grid-template-columns: repeat(2, minmax(auto, 1fr));
    column-gap: 30px;
    padding: 1.5rem 4rem;
  }
  @media (max-width: variables.$mobile-l) {
    grid-template-columns: minmax(auto, 1fr);
    column-gap: 0;
    row-gap: 3rem;
    padding: 1.5rem 7%;
  }
  @media (max-width: variables.$mobile-s) {
    padding: 1.5rem 5%;
  }
}
