/* -------------------------------- */
/*           ~ Globals ~            */
/* -------------------------------- */
/*      [Audiophile eCommerce]      */
/* -------------------------------- */
/*   Frontend Mentor Challenge      */
/*   Difficulty: Guru               */
/*   [www.frontendmentor.io]        */
/* -------------------------------- */
/*   version:   1.0                 */
/*   date:      26/05/2023          */
/*   author:    Simon Stranks       */
/*   website:   github.com/SStranks */
/* -------------------------------- */

/*   Imports                        */
@use '../abstracts/variables' as *;
@use '../abstracts/animations' as a;

/* -------------------------------- */
/*   Globals                        */
/* -------------------------------- */

html {
  height: 100%;
  font-size: 100%;
  color-scheme: light dark;
}

body {
  position: relative;
  width: 100%;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-y: overlay;
  &::-webkit-scrollbar-track {
    background-color: hsla(0deg, 0%, 0%, 0.2);
  }
  &::-webkit-scrollbar {
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: hsla(0deg, 0%, 0%, 0.5);
    border-radius: 5px;
    &:vertical:hover {
      background-color: hsla(0deg, 0%, 100%, 0.75);
    }
  }
}

img,
svg,
video {
  display: block;
  max-width: 100%;
  height: 100%;
}

ul,
ol {
  padding-left: 1em;
  & li {
    padding-left: 1.5em;
  }
}

button {
  cursor: pointer;
  border: none;
  text-decoration: none;

  &:disabled {
    cursor: not-allowed;
  }
}

input {
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  transition: a.$Theme-transition;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
  }

  &::placeholder {
    transition: a.$Theme-transition;
  }
}

label {
  cursor: pointer;
}

.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
}

.hidden {
  display: none !important;
}

.show {
  display: inherit !important;
}

.modal-open {
  overflow: hidden;
}

.transition * {
  transition: none !important;
}
