/* -------------------------------- */
/*            ~ Reset ~             */
/* -------------------------------- */
/*      [Audiophile eCommerce]      */
/* -------------------------------- */
/*   Frontend Mentor Challenge      */
/*   Difficulty: Guru               */
/*   [www.frontendmentor.io]        */
/* -------------------------------- */
/*   version:   1.0                 */
/*   date:      26/05/2023          */
/*   author:    Simon Stranks       */
/*   website:   github.com/SStranks */
/* -------------------------------- */

/*   Imports                        */

/* -------------------------------- */
/*   Resets                         */
/* -------------------------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* Elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
