/* -----|| Contents ||-----         */
/* ------------------------         */
/*   1. || Imports                  */
/*   2. || Variables                */
/*   3. || Globals                  */
/*   4. || Main                     */
/*   5. || FrontEnd Mentor Footer   */
/*   6. || Media Queries            */
/* -------------------------------- */



/*   1. || Imports                  */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');


/*   2. || Variables                */
:root {
  /* HSL Values */
  /* Primary */
  --Soft-red: 7, 99%, 70%;
  --Yellow: 51, 100%, 49%;
  --Dark-desaturated-cyan: 167, 40%, 24%;
  --Dark-blue: 198, 62%, 26%;
  --Dark-moderate-cyan: 168, 34%, 41%;
  /* Neutral */
  --Very-dark-desaturated-blue: 212, 27%, 19%; 
  --Very-dark-grayish-blue: 213, 9%, 39%;
  --Dark-grayish-blue: 232, 10%, 55%;
  --Grayish-blue: 210, 4%, 67%;
  --White: 0, 0%, 100%;
}


/*   3. || Globals                  */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 18px;
  font-weight: 600, 700, 900;
  font-family: 'Barlow', 'Fraunces', serif;
  line-height: 1.6;
  background: #fff;
  color: hsl(var(--Very-dark-desaturated-blue));
}


/*   4. || Main                     */
.container {
  height: fit-content;
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.main-header {
  position: relative;
  width: 100%;
  height: 100%;
}

.main-header #header-image {
  width: 100%;
  height: 100%;
  max-width: 1440px;
}

.main-header nav {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.main-header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.main-header nav ul li {
  color: #fff;
  margin: 0 1rem;
}

#contact {
  border: none;
  background: #fff;
  color: inherit;
  border-radius: 25px;
  font-size: 0.9rem;
  font-family: 'Fraunces';
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.8rem 1.5rem;
  margin: 0 1rem;
}

.main-header h1 {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 3rem;
  font-family: 'Fraunces';
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  color: #fff;
}

.main-header #header-arrow {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, 0);
}

.services {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.service-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: hsl(var(--Dark-grayish-blue));
  padding: 18%;
}

.service-text h3 {
  font: 900 2.5rem 'Fraunces';
  color: hsl(var(--Very-dark-desaturated-blue));
}

.service-text span {
  position: relative;
  display: inline-block;
  width: fit-content;
  font: 900 1rem 'Fraunces';
  color: hsl(var(--Very-dark-desaturated-blue));
  text-transform: uppercase;
  padding: 0 10px;
}

.service-text span::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 10px;
  width: 100%;
  border-radius: 5px;
  background-color: hsl(var(--Yellow));
  opacity: 30%;
  z-index: -1;
}

.span-red span::after {
  background-color: hsl(var(--Soft-red));
}

.align-left {
  grid-column: 1;
  grid-row: 2;
}

.services-images {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  padding: 3.25rem 9rem;
}

.services-images h2 {
  font: 900 1.5rem 'Fraunces';
  margin-bottom: 1.5rem;
}

.graphic-design {
  background-image: url('./images/desktop/image-graphic-design.jpg');
  color: hsl(var(--Dark-desaturated-cyan));
}

.photography {
  background-image: url('./images/desktop/image-photography.jpg');
  color: hsl(var(--Dark-blue));
}

.testimonials {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.testimonials h3 {
  font: 700 1.15rem 'Fraunces';
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  color: hsl(var(--Grayish-blue));
  margin-top: 8rem;
  margin-bottom: 4rem;
}

.clients {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 6rem;
  margin-bottom: 8rem;
}

.client {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.client img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

.client p {
  margin: 2.75rem 1rem;
}

.client h4 {
  font: 900 1rem 'Fraunces';
  margin: 0.5rem 0;
}

.client h5 {
  color: hsl(var(--Grayish-blue));
}

.images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.images img {
  width: 100%;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: hsl(167, 32%, 83%);
  color: hsla(var(--Dark-moderate-cyan));
  padding: 4rem;
}

footer > img {
  transform: scale(150%);
  /* background-color: hsl(var(--Dark-desaturated-cyan)); */
  margin-bottom: 2rem;
}

.footer-info {
  margin-bottom: 4rem;
}

.footer-info span {
  padding: 0 1.5rem;
}

.footer-icons img {
  margin: 0 0.75rem;
}


/*   5. || FrontEnd Mentor Footer   */
/* .attribution {
  font-size: 0.75rem; 
  text-align: center;
  color:inherit;
  display: block;
  margin: 0 auto;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
}

.attribution a { 
  color: hsl(var(--Blue));
}

.attribution a:hover {
  background: hsl(var(--Very-dark-cyan));
  color: hsl(var(--Strong-cyan));
} */