@use '../assets/sass/mixins' as *;
@use '../assets/sass/functions' as f;

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: f.px2em(80) f.px2em(40) f.px2em(129);

  @include media(mobile-large, mobile-medium, mobile-small) {
    padding: f.px2em(24) f.px2em(24) f.px2em(88);
  }
}

.flex {
  display: flex;
  flex-direction: column;
  row-gap: f.px2em(24);
  max-width: f.px2rem(730);
}
