@use '../assets/sass/functions' as f;

.container {
  display: flex;
  justify-content: center;
  padding-top: f.px2em(94);
  padding-bottom: f.px2em(128);
}

.grid {
  display: grid;
  grid-template-columns: minmax(200px, 255px) minmax(500px, 825px);
  column-gap: f.px2em(30);

  &__sub-grid-1 {
    display: flex;
    flex-direction: column;
    row-gap: f.px2em(24);
  }

  &__sub-grid-2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1fr, auto);
    row-gap: f.px2em(24);
  }
}
