@use '../assets/sass/mixins' as *;
@use '../assets/sass/functions' as f;

.container {
  display: flex;
  justify-content: center;
  padding-top: f.px2em(94);
  padding-bottom: f.px2em(128);
  padding: f.px2em(94) f.px2em(40) f.px2em(128) f.px2em(40);

  @include media(mobile-large, mobile-medium, mobile-small) {
    flex-direction: column;
    width: 100%;
    padding: 0;
    padding-bottom: f.px2em(55);
  }
}

.grid {
  display: grid;
  grid-template-columns: minmax(200px, 255px) minmax(500px, 825px);
  column-gap: f.px2em(30);

  &__sub-grid-1 {
    display: flex;
    flex-direction: column;
    row-gap: f.px2em(24);

    @include media(tablet-regular, tablet-small) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: f.px2em(10);
    }

    @include media(mobile-large, mobile-medium, mobile-small) {
      display: grid;
      grid-template-columns: 1fr;
      width: 100%;
    }
  }

  &__sub-grid-2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1fr, auto);
    row-gap: f.px2em(24);
  }

  @include media(tablet-regular, tablet-small) {
    grid-template-columns: 1fr;
    row-gap: f.px2em(40);
  }

  @include media(mobile-large, mobile-medium, mobile-small) {
    grid-template-columns: 1fr;
  }

  &__aside {
    @include media(mobile-large, mobile-medium, mobile-small) {
      display: none;
    }
  }
}

// .mobile-nav {
//   @include media(mobile-large, mobile-medium, mobile-small) {
//     position: absolute;
//     bottom: 0;
//     background-color: red;
//   }
// }
