**/.classpath
**/.dockerignore
**/.env*
**/.git
**/.gitignore
**/jest*
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/secrets.dev.yaml
**/values.dev.yaml
**/azds.yaml
**/charts
**/docker-compose*
**/Dockerfile*
**/node_modules
**/dist
**/coverage
**/__snapshots__
**/npm-debug.log
**/obj
README.md