@use '#Sass/abstracts/animations' as a;
@use '#Sass/abstracts/colors' as c;
@use '#Sass/abstracts/functions' as f;
@use '#Sass/abstracts/mixins' as mx;
@use '#Sass/abstracts/variables' as v;

.card {
  cursor: pointer;
  width: 100%;
  padding: f.px2em(23) f.px2em(16);
  background-color: var(--thm-task-card);
  box-shadow: v.$box-shadow-1;
  border-radius: v.$border-radius-task;
  transition: a.$Theme-transition-bg;

  &:hover {
    &.column {
      &--1 {
        outline: 1px solid c.$col-3a;
      }

      &--2 {
        outline: 1px solid c.$col-3b;
      }

      &--3 {
        outline: 1px solid c.$col-3c;
      }

      &--4 {
        outline: 1px solid c.$col-3d;
      }

      &--5 {
        outline: 1px solid c.$col-3e;
      }

      &--6 {
        outline: 1px solid c.$col-3f;
      }

      &--7 {
        outline: 1px solid c.$col-3g;
      }

      &--8 {
        outline: 1px solid c.$col-3h;
      }

      &--9 {
        outline: 1px solid c.$col-3i;
      }

      &--10 {
        outline: 1px solid c.$col-3j;
      }

      &--11 {
        outline: 1px solid c.$col-3k;
      }
    }
  }

  &__dragging {
    &--0 {
      outline: 4px solid c.$col-3a;
    }

    &--1 {
      outline: 4px solid c.$col-3b;
    }

    &--2 {
      outline: 4px solid c.$col-3c;
    }

    &--3 {
      outline: 4px solid c.$col-3d;
    }

    &--4 {
      outline: 4px solid c.$col-3e;
    }

    &--5 {
      outline: 4px solid c.$col-3f;
    }

    &--6 {
      outline: 4px solid c.$col-3g;
    }

    &--7 {
      outline: 4px solid c.$col-3h;
    }

    &--8 {
      outline: 4px solid c.$col-3i;
    }

    &--9 {
      outline: 4px solid c.$col-3j;
    }

    &--10 {
      outline: 4px solid c.$col-3k;
    }
  }

  &__task {
    @include mx.header-m;
    margin-bottom: f.px2em(8);
    color: var(--thm-task-title);
    transition: a.$Theme-transition-color;
  }

  &__subtask {
    @include mx.body-m;
    color: c.$col-1g;
    transition: a.$Theme-transition-color;
  }
}
