@use '../../assets/sass/variables' as *;
@use '../../assets/sass/mixins' as *;
@use '../../assets/sass/functions' as f;

.outerCard {
  border-radius: $border-radius-2;
  background-color: $mute-orange;

  &--planned {
    grid-column: 1;
    grid-row: auto;
    background-color: $mute-orange;
  }

  &--in-progress {
    grid-column: 2;
    grid-row: auto;
    background-color: $magenta;
  }

  &--live {
    grid-column: 3;
    grid-row: auto;
    background-color: $sky-blue;
  }
}

.innerCard {
  margin-top: 5px;
  height: 100%;
  padding: f.px2em(32);
  border-radius: 0 0 $border-radius-2 $border-radius-2;
  background-color: $white;
  color: $mute-blue;

  @include media(tablet-regular, tablet-small) {
    padding: f.px2em(24) f.px2em(20);
  }

  &__status {
    display: flex;
    align-items: center;
    column-gap: f.px2em(15);
    margin-bottom: f.px2em(8);

    @include media(
      tablet-regular,
      tablet-small,
      mobile-large,
      mobile-medium,
      mobile-small
    ) {
      @include body-7;
    }
  }

  &__bullet {
    width: 8px;
    height: 8px;
    border-radius: 50%;

    &--planned {
      background-color: $mute-orange;
    }

    &--in-progress {
      background-color: $magenta;
    }

    &--live {
      background-color: $sky-blue;
    }
  }

  &__title {
    margin-bottom: f.px2em(4);
    color: $navy-blue;

    &:hover {
      cursor: pointer;
      color: $royal-blue;
    }

    @include media(
      tablet-regular,
      tablet-small,
      mobile-large,
      mobile-medium,
      mobile-small
    ) {
      @include body-6;
    }
  }

  &__content {
    margin-bottom: f.px2em(16);

    @include media(
      tablet-regular,
      tablet-small,
      mobile-large,
      mobile-medium,
      mobile-small
    ) {
      @include body-7;
    }
  }

  &__UI {
    display: flex;
    justify-content: space-between;
    margin-top: f.px2em(16);
  }

  &__comment {
    display: flex;
    align-items: center;
    column-gap: f.px2em(12);

    & img {
      height: fit-content;
    }
  }
}
