@use '#Sass/abstracts/colors' as c;
@use '#Sass/abstracts/functions' as f;
@use '#Sass/abstracts/mixins' as mx;
@use '#Sass/abstracts/media-queries' as mq;

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: f.px2em(64) 0;

  &__logo {
    height: 28px;
  }

  &__links {
    display: flex;
    justify-content: space-between;
    column-gap: f.px2em(42);
  }

  &__link {
    @include mx.body-nav-link;
    text-transform: uppercase;
    color: c.$col-2b;

    &:hover {
      @include mx.text-link-underline;
    }
  }
}
