/*  Colours  */
/*  Primary  */
$Grayish-blue: hsl(237, 18%, 59%);
$Soft-red: hsl(345, 95%, 68%);
/*  Neutral  */
$White: hsl(0, 0%, 100%);
$Dark-desaturated-blue: hsl(236, 21%, 26%);
$Dark-purple: hsl(275, 21%, 15%);
$Very-dark-blue: hsl(235, 16%, 14%);
$Extremely-dark-blue: hsl(234, 17%, 12%);

/*  Breakpoints */
$mobile-s: 320px;
$mobile-m: 375px;
$mobile-l: 425px;
$tablet: 768px;
$desktop-s: 1024px;
$desktop-m: 1440px;
$desktop-l: 2560px;
