@use 'variables' as *;

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 140px;
  width: 155px;
  border-radius: 7px;
  text-align: center;
  background-color: $Dark-desaturated-blue;
  box-shadow: 0 10px 0 0 $Extremely-dark-blue;
  margin: 0 1.25rem;
  margin-bottom: 2rem;
}

span {
  font-size: 5.5rem;
  color: $Soft-red;
}

h3 {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.5ch;
  text-transform: uppercase;
  text-align: center;
  color: $Grayish-blue;
}
