/* -----|| Contents ||-----         */
/* ------------------------         */
/*   1. || Imports                  */
/*   2. || App                      */
/*   3. || FrontEnd Mentor Footer   */
/* -------------------------------- */

/*   FrontEndMentor Challenge       */
/*   #Launch Countdown Timer        */
/*   version:   1.0                 */
/*   date:      26/02/2022          */
/*   author:    Simon Stranks       */
/*   website:   github.com/SStranks */

/*   1. || Imports                  */
@use 'globals';
@use 'variables';
@use 'Card';
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');

/*   2. || App                      */
.hidden-h1 {
  font-size: 0;
  width: 1px;
  height: 1px;
  display: inline-block;
  overflow: hidden;
  position: absolute;
  border: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  clip: rect(1px, 1px, 1px, 1px);
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

/*   3. || FrontEnd Mentor Footer   */
footer {
  position: relative;
  height: fit-content;
}

.attribution {
  position: absolute;
  font-size: 0.5rem;
  font-weight: 300;
  text-align: center;
  color: variables.$grayish-blue;
  display: block;
  margin: 0 auto;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -45%);
  width: 100%;
  & a {
    color: variables.$light-cyan;
    transition: all 1s ease;
    &:hover {
      //  background: var(--Instagram);
      //  color: hsl(var(--Dark-Blue));
      //  -webkit-background-clip: text;
      //  background-clip: text;
      color: variables.$neon;
      text-shadow: 0 0 5px variables.$neon-light, 0 0 5px variables.$neon-light,
        0 0 5px variables.$neon-light;
      transition: all 0.25s ease;
      text-decoration: none;
    }
  }
  @media (max-width: variables.$mobile-l) {
    font-size: 0.4rem;
    padding: 0 3.5rem;
  }
  @media (max-width: variables.$mobile-m) {
    font-size: 0.4rem;
    padding: 0 3rem;
  }
  @media (max-width: variables.$mobile-s) {
    font-size: 0.35rem;
    padding: 0 2rem;
  }
}
