USE WorldEvents
GO

CREATE TABLE CountriesByArea(
	Position int NOT NULL PRIMARY KEY,
	Country nvarchar(255) NULL,
	KmSquared bigint NULL)

GO
INSERT CountriesByArea (Position, Country, KmSquared) VALUES (1, N'Russia', 17098246)
GO
INSERT CountriesByArea (Position, Country, KmSquared) VALUES (2, N'Canada', 9984670)
GO
INSERT CountriesByArea (Position, Country, KmSquared) VALUES (3, N'China', 9572900)
GO

-- show results
SELECT * FROM CountriesByArea