/* -----|| Contents ||-----         */
/* ------------------------         */
/*   1. || Imports                  */
/*   2. || Variables                */
/*   3. || Globals                  */
/*   4. || Main                     */
/*   5. || FrontEnd Mentor Footer   */
/*   6. || Media Queries            */
/* -------------------------------- */

/*   version:   1.0                 */
/*   date:      08/09/2021          */
/*   author:    Simon Stranks       */
/*   website:   github.com/SStranks */



/*   1. || Imports                  */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');


/*   2. || Variables                */
:root {
  /* HSL Values                     */
  /* Primary                        */
  --Lime-Green: 163, 72%, 41%;
  --Bright-Red: 356, 69%, 56%;
  --Facebook: 208, 92%, 53%;
  --Twitter: 203, 89%, 53%;
  --Instagram: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
  --YouTube: 348, 97%, 39%;
  /* Dark Theme                     */
  --Toggle: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%)); 
  /* Light Theme                    */
  --Toggle-knob: 230, 22%, 74%;
  /* Neutral                        */
  /* Dark Theme                     */
  --Very-Dark-Blue: 230, 17%, 14%;         /*(BG)*/
  --Very-Dark-Blue2: 232, 19%, 15%;        /*(Top BG Pattern)*/
  --Dark-Desaturated-Blue: 228, 28%, 20%;  /*(Card BG)*/
  --Desaturated-Blue: 228, 34%, 66%;       /*(Text)*/
  --White: 0, 0%, 100%;                    /*(Text)*/
  /* Light Theme                    */
  --White: 0, 0%, 100%;                    /*(BG)*/
  --Very-Pale-Blue: 225, 100%, 98%;        /*(Top BG Pattern)*/
  --Light-Grayish-Blue: 227, 47%, 96%;     /*(Card BG)*/
  --Dark-Grayish-Blue: 228, 12%, 44%;      /*(Text)*/
  --Very-Dark-Blue-Light: 230, 17%, 14%;   /*(Text)*/
}


/*   3. || Globals                  */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {display: block; height: 100%}
a {text-decoration: none}
a:visited {color: inherit}
a:active {color: inherit}
li {list-style: none}
h1 {font-size: 2rem; color: hsl(var(--White))}
h2 {font-size: 1.6rem; font-family: 'Inter'; font-weight: 700; line-height: 1; color: hsl(var(--White))}
h3 {font-size: 2.2rem; font-family: 'Inter'; font-weight: 700; line-height: 1; color: #fff}
h4 {font-size: 1.0rem; color: #000}
p {font-size: 1rem; font-weight: 700; color: hsl(var(--Dark-Blue)); line-height: 1.4}
span {font-size: 1rem; font-weight: 700; line-height: 1}
button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none; 
  font-family: inherit;
  cursor: pointer
}
input {
  font-size: inherit;
  font-family: inherit;
  font-weight: 700;
  color: #000;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
label {font-size: 1.0rem; font-weight:bold; color: #000; cursor: pointer}

.flex-row {display: flex; justify-content: space-between; align-items: center}
.flex-column {display: flex; flex-direction: column; justify-content: space-between; align-items: center}
.hidden {display: none !important}
.show {display:inherit !important}
.modal-open {overflow: hidden}
.trans {transition: all 0.2s}


/*   4. || Main                     */
html, body {
  font-size: 14px;
  font-family: 'Inter', sans-serif;
  font-weight: 400, 700;
  line-height: 1.6;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, hsl(var(--Very-Dark-Blue2)) 25%, hsl(var(--Very-Dark-Blue)) 25%);
  color: hsl(var(--Desaturated-Blue));
}

.container {
  height: 100%;
  width: 100%;
  padding: 4rem 12rem;
  margin: 0 auto;
}

.card {
  background: hsl(var(--Dark-Desaturated-Blue));
  border-radius: 5px 5px 10px 10px;
  padding-top: 4px;
}

.card:nth-child(1) {
  background: hsl(var(--Facebook));
}

.card:nth-child(2) {
  background: hsl(var(--Twitter));
}

.card:nth-child(3) {
  background: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
}

.card:nth-child(4) {
  background: hsl(var(--YouTube));
}

.card:hover {
  filter: brightness(1.3);
  cursor: pointer;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 4;
  gap: 2rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 3.25rem 0;
}

.theme p {
  color: hsl(var(--White));
}

.c-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: hsl(var(--Dark-Desaturated-Blue));
  border-radius: 0 0 5px 5px;
  padding: 1.75rem;
}

.c-1 .flex-row {
  align-items: center;
  margin: 0 0 1.75rem 0;
}

.flex-row img {
  height: 20px;
}

.handle {
  font-size: 0.85rem;
  margin: 0 0 0 0.5rem;
}

.num-follow {
  font-size: 4rem;
  color: hsl(var(--White));
  margin: 0 0 0.5rem;
}

.label-follow {
  font-size: 0.85rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  margin: 0 0 1.75rem 0;
}

.num-change {
  position: relative;
  font-size: 0.85rem;
}

h2 {
  grid-column: 1 / span 4;
  margin: 2rem 0 0 0;
}

.c-2 {
  padding: 1.5rem;
}

.c-2 .flex-row:first-of-type {
  margin: 0 0 2rem 0;
}

.c-2 .num-overview {
  font-size: 2.25rem;
  color: hsl(var(--White));
}

.c-2 .num-change {
  align-self: flex-end;
}

.pos {
  color: hsl(var(--Lime-Green));
}

.pos::before {
  content: url('./images/icon-up.svg');
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-150%, -15%);
}

.neg {
  color: hsl(var(--Bright-Red));
}

.neg::before {
  content: url('./images/icon-down.svg');
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-150%, -15%);
}


/*   5. || Main: Toggle Switch      */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
  margin: 0 0.75rem;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--Toggle);
  transition: .4s;
}

.toggle::before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 50%;
  transform: translate(0, 50%);
  background-color: hsl(var(--Dark-Desaturated-Blue));
  transition: .4s;
}

input:checked + .toggle {
  background-color: hsl(var(--White));
}

input:focus + .toggle {
  box-shadow: 0 0 1px hsl(var(--White));
}

input:checked + .toggle::before {
  background-color: hsl(var(--White));
  transform: translate(22px, 50%);
}

/* Rounded toggles */
.toggle.round {
  border-radius: 34px;
}

.toggle.round::before {
  border-radius: 50%;
}


/*   X. || Light Theme              */
.bk-light {
  background: linear-gradient(to bottom, hsl(var(--Very-Pale-Blue)) 25%, hsl(var(--White)) 25%);
}


/*   5. || FrontEnd Mentor Footer   */
.attribution {
  font-size: 0.75rem; 
  text-align: center;
  color: hsl(var(--Grayish-Blue));
  display: block;
  margin: 0 auto;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
}

/* .attribution a { 
  color: hsl(var(--Dark-Desaturated-Blue));
} */

.attribution a:hover {
  background: var(--Instagram);
  /* color: hsl(var(--Dark-Blue)); */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}