@use '#Sass/abstracts/colors' as c;
@use '#Sass/abstracts/mixins' as mx;
@use '#Sass/abstracts/media-queries' as mq;

.mainTag {
  padding-top: 80px;
  background-color: c.$col-1d;
}

.btnBack {
  justify-self: start;
  @include mx.body-regular;
  margin-bottom: 56px;
  background-color: transparent;
  color: c.$col-3a;
  text-transform: capitalize;
}

/* -------------------------------- */
/*   Media Queries                  */
/* -------------------------------- */

.mainTag {
  @include mq.media(tablet-all) {
    padding-top: 35px;
  }

  @include mq.media(mobile-all) {
    padding-top: 16px;
  }
}
