@use '#Sass/variables' as *;
@use '#Sass/mixins' as *;
@use '#Sass/functions' as f;
@use '#Sass/animations' as a;

// REFACTOR:  Error styles to be refactored into 'base' SASS
.container {
  position: relative;
  width: 100%;
  background-color: var(--color-form-input-bg);
  border: 1px solid var(--color-form-input-border);
  border-radius: $border-radius-5;
  transition: a.$Theme-transition;

  &:has(:focus) {
    border: 1px solid $color-1a;
  }

  & button {
    font-family: inherit;
    font-weight: 700;
    font-size: inherit;
  }
}

.dropdownBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: f.px2em(15) f.px2em(20);
  color: var(--color-text-p);
  background-color: transparent;
  border-radius: $border-radius-5;
  transition: a.$Theme-transition;

  &__hiddenInput {
    width: 0;
    outline: none;
    border: none;
  }

  &:focus {
    outline: none;
  }

  &--active {
    & > img {
      transform: rotate(180deg);
    }
  }
}

.dropdownList {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  color: var(--color-text-p);
  background-color: var(--color-form-dropdown);
  transform: translateY(calc(100% + 8px));
  box-shadow: 0 10px 20px 0 var(--color-dropshadow);
  border-radius: $border-radius-5;
  transition: a.$Theme-transition;
  // REFACTOR:  Add to dropdown manager
  z-index: 10;

  & > ul {
    list-style: none;

    & > li {
      border-bottom: 1px solid var(--color-form-input-border);
      transition: a.$Theme-transition;

      & button {
        width: 100%;
        padding: f.px2em(15) f.px2em(20);
        color: var(--color-text-p);
        text-align: left;

        &:hover {
          color: $color-1a;
        }
      }
    }
  }
}
