/* -------------------------------- */
/*            ~ Colors ~            */
/* -------------------------------- */
/*         [Designo Agency]         */
/* -------------------------------- */
/*   Frontend Mentor Challenge      */
/*   Difficulty: Guru               */
/*   [www.frontendmentor.io]        */
/* -------------------------------- */
/*   version:   1.0                 */
/*   date:      27/03/2023          */
/*   author:    Simon Stranks       */
/*   website:   github.com/SStranks */
/* -------------------------------- */

/*   Imports                        */
@use 'variables' as *;

/* -------------------------------- */
/*   Primary Colors                 */
/* -------------------------------- */

$col-1a: hsl(11deg, 73%, 66%); // Peach
$col-1b: hsl(270deg, 3%, 11%); // Black
$col-1c: hsl(0deg, 0%, 100%); // White

/* -------------------------------- */
/*   Secondary Colors               */
/* -------------------------------- */

$col-2a: hsl(11deg, 100%, 80%); // Light Peach
$col-2b: hsl(264deg, 5%, 20%); // Dark Grey
$col-2c: hsl(210deg, 17%, 95%); // Light Grey
$col-2d: hsl(14deg, 76%, 97%); // Light Grey

/* -------------------------------- */
/*   Tertiary Colors                */
/* -------------------------------- */

// Modal
$col-modal-bg: hsla(0deg, 0%, 0%, 0.5);
