/* -------------------------------- */
/*   Media Queries                  */
/* -------------------------------- */
/*   ~~[PROJECT NAME]~~             */
/*   # [PROJECT DETAILS]            */
/* -------------------------------- */
/*   version:   1.0                 */
/*   date:      xx/xx/xxxx          */
/*   author:    Simon Stranks       */
/*   website:   github.com/SStranks */
/* -------------------------------- */

/*   Imports                        */

/* -------------------------------- */
/*   Breakpoints                    */
/* -------------------------------- */

$mobile-s: 320px;
$mobile-m: 375px;
$mobile-l: 480px;
$tablet-s: 576px;
$tablet-m: 667px;
$tablet-l: 768px;
$desktop-s: 1024px;
$desktop-m: 1440px;
$desktop-l: 1920px;
$desktop-xl: 2560px;

/* -------------------------------- */
/*   Media Queries: Multiple        */
/* -------------------------------- */

@mixin media($args...) {
  @each $arg in $args {
    @if $arg == 'mobile-small' {
      @include mobile-small {
        @content;
      }
    }
    @if $arg == 'mobile-large' {
      @include mobile-large {
        @content;
      }
    }
    @if $arg == 'mobile-all' {
      @include mobile-all {
        @content;
      }
    }
    @if $arg == 'tablet-small' {
      @include tablet-small {
        @content;
      }
    }
    @if $arg == 'tablet-medium' {
      @include tablet-medium {
        @content;
      }
    }
    @if $arg == 'tablet-large' {
      @include tablet-large {
        @content;
      }
    }
    @if $arg == 'tablet-xlarge' {
      @include tablet-xlarge {
        @content;
      }
    }
    @if $arg == 'tablet-all' {
      @include tablet-all {
        @content;
      }
    }
    @if $arg == 'desktop-small' {
      @include desktop-small {
        @content;
      }
    }
    @if $arg == 'desktop-medium' {
      @include desktop-medium {
        @content;
      }
    }
    @if $arg == 'desktop-large' {
      @include desktop-large {
        @content;
      }
    }
    @if $arg == 'desktop-xlarge' {
      @include desktop-xlarge {
        @content;
      }
    }
  }
}

/* -------------------------------- */
/*   Media Queries: Specific        */
/* -------------------------------- */

@mixin mobile-small {
  @media only screen and (min-width: #{$mobile-s}) and (max-width: #{$mobile-m - 1px}) {
    @content;
  }
}

@mixin mobile-large {
  @media only screen and (min-width: #{$mobile-m}) and (max-width: #{$mobile-l}) {
    @content;
  }
}

@mixin mobile-all {
  @media only screen and (max-width: #{$mobile-l}) {
    @content;
  }
}

@mixin tablet-small {
  @media only screen and (min-width: #{$mobile-l + 1px}) and (max-width: #{$tablet-s - 1px}) {
    @content;
  }
}

@mixin tablet-medium {
  @media only screen and (min-width: #{$tablet-s}) and (max-width: #{$tablet-m - 1px}) {
    @content;
  }
}

@mixin tablet-large {
  @media only screen and (min-width: #{$tablet-m}) and (max-width: #{$tablet-l}) {
    @content;
  }
}

@mixin tablet-xlarge {
  @media only screen and (min-width: #{$tablet-l + 1px}) and (max-width: #{$desktop-s - 1px}) {
    @content;
  }
}

@mixin tablet-all {
  @media only screen and (min-width: #{$mobile-l + 1px}) and (max-width: #{$tablet-l}) {
    @content;
  }
}

@mixin desktop-small {
  @media only screen and (min-width: #{$desktop-s}) and (max-width: #{$desktop-m - 1px}) {
    @content;
  }
}

@mixin desktop-medium {
  @media only screen and (min-width: #{$desktop-m}) and (max-width: #{$desktop-l - 1px}) {
    @content;
  }
}

@mixin desktop-large {
  @media only screen and (min-width: #{$desktop-l}) and (max-width: #{$desktop-xl - 1px}) {
    @content;
  }
}

@mixin desktop-xlarge {
  @media only screen and (min-width: #{$desktop-xl}) {
    @content;
  }
}
