/* -------------------------------- */
/*   Variables                      */
/* -------------------------------- */
/*   ~~[PROJECT NAME]~~             */
/*   # [PROJECT DETAILS]            */
/* -------------------------------- */
/*   version:   1.0                 */
/*   date:      xx/xx/xxxx          */
/*   author:    Simon Stranks       */
/*   website:   github.com/SStranks */
/* -------------------------------- */

/*   Imports                        */
@use '#Sass/abstracts/functions' as f;

/* -------------------------------- */
/*   Web Elements                   */
/* -------------------------------- */

$sidebar-dim-width-l: 300px;
$sidebar-dim-width-m: 260px;
$sidebar-dim-width-s: 300px;
$navbar-dim-height: 96px;

/* -------------------------------- */
/*   Margin & Padding               */
/* -------------------------------- */

$padding-desktop: 0 f.px2em(165);
$padding-desktop-small: 0 f.px2em(120);
$padding-tablet-xl: 0 f.px2em(80);
$padding-tablet: 0 f.px2em(40);
$padding-tablet-small: 0 f.px2em(20);
$padding-mobile: 0 f.px2em(24);
// $margin-forms: f.px2em(50) 0;
// $padding-transition: padding 2500ms ease-out;
// $grid-gap-transition: gap 1500ms ease-out;

/* -------------------------------- */
/*   Borders                        */
/* -------------------------------- */

// Common radius across multiple elements
$border-radius-1: 15px;

$border-radius-btn-1: 8px;
$border-radius-chkbx-1: $border-radius-1;
$border-radius-chkbx-2: 2px;
$border-radius-input-text: $border-radius-1;
$border-radius-dropdown: $border-radius-1;
$border-radius-dropdown-list: 8px;
$border-radius-sidebar-li: 100px;
$border-radius-sidebar-theme: 6px;
$border-radius-task: 8px;
$border-radius-column-empty: 6px;
$border-radius-forms: 6px;
$border-radius-forms-subtask: 4px;

/* -------------------------------- */
/*   Shadows                        */
/* -------------------------------- */

$box-shadow-1: 0px 4px 6px rgba(54, 78, 126, 0.1);
$box-shadow-2: 0px 4px 6px rgba(55, 2, 124, 0.1);
