@use '#Sass/abstracts/colors' as c;
@use '#Sass/abstracts/functions' as f;
@use '#Sass/abstracts/media-queries' as mq;
@use '#Sass/abstracts/mixins' as mx;
@use '#Sass/abstracts/variables' as v;
@use '#Sass/components/buttons' as btn;

.header {
  display: flex;
  height: 480px;
  margin-bottom: f.px2em(160);
  color: c.$col-1c;
  background-color: c.$col-1a;
  background-image: url(~svg/desktop/bg-pattern-hero-about-desktop.svg);
  background-position: bottom left;
  background-repeat: no-repeat;
  border-radius: v.$border-radius-1;
  overflow: hidden;

  @include mq.media(tablet-all) {
    padding: f.px2em(72) f.px2em(58);
  }

  @include mq.media(tablet-all, mobile-all) {
    flex-direction: column;
    height: unset;
    margin: 0 -24px f.px2em(120);
  }

  @include mq.media(mobile-all) {
    padding: f.px2em(72) f.px2em(24);
    border-radius: 0;
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 60%;

    @include mq.media(tablet-all, mobile-all) {
      max-width: unset;
    }
  }

  &__info {
    margin: 0 0 0 f.px2em(95);

    @include mq.media(tablet-xlarge) {
      margin: 0 0 0 f.px2em(40);
    }

    @include mq.media(tablet-all) {
      margin: 0;
    }

    @include mq.media(mobile-all) {
      margin: 0;
      text-align: center;
    }

    & > h1 {
      @include mx.header-h1;
      @include mq.media(mobile-all) {
        font-size: f.px2rem(32);
      }
    }

    & > p {
      margin-top: f.px2em(24);
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: f.px2em(54) f.px2em(95);

    @include mq.media(desktop-small) {
      padding: f.px2em(54) f.px2em(60);
    }

    @include mq.media(tablet-xlarge) {
      padding: f.px2em(54) f.px2em(40);
    }

    @include mq.media(tablet-all) {
      padding: 0;
      margin-top: f.px2em(40);
    }

    @include mq.media(mobile-all) {
      padding: 0;
      margin-top: f.px2em(48);
    }

    & > button {
      @include btn.btn-primary;
      align-self: flex-end;
      width: 150px;
      margin-top: f.px2em(24);
      text-transform: uppercase;

      @include mq.media(mobile-all) {
        align-self: center;
        margin-top: f.px2em(40);
      }
    }
  }

  &__input {
    & > input[type='text'] {
      width: 100%;
      padding: f.px2em(12);
      border: none;
      border-bottom: 1px solid c.$col-1c;
      &::placeholder {
        color: c.$col-1c;
        opacity: 60%;
      }
      &:hover {
        border-bottom: 3px solid c.$col-1c;
        &::placeholder {
          opacity: 100%;
        }
      }
    }
    & > textarea {
      width: 100%;
      height: 150px;
      padding: f.px2em(12);
      border: none;
      border-bottom: 1px solid c.$col-1c;
      resize: none;
      &::placeholder {
        color: c.$col-1c;
        opacity: 60%;
      }
      &:hover {
        border-bottom: 3px solid c.$col-1c;
        &::placeholder {
          opacity: 100%;
        }
      }
    }
  }
}

.qualities {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  margin: f.px2em(160) 0;

  @include mq.media(mobile-all) {
    flex-direction: column;
    margin: f.px2em(120) 0;
  }
}
