@use '../../assets/sass/variables' as *;
@use '../../assets/sass/mixins' as *;

.header {
  @include card;
  display: flex;
  align-items: flex-end;
  height: 135px;
  color: $white;

  &__content {
    @include body-2;
  }

  @include media(desktop-small, desktop-medium, desktop-large) {
    background-image: url('../../assets/svg/desktop/background-header.png');
  }

  @include media(tablet-regular, tablet-small) {
    background-image: url('../../assets/svg/tablet/background-header.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
  }

  @include media(mobile-large, mobile-medium, mobile-small) {
    background-image: url('../../assets/svg/mobile/background-header.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}
