@use '../../assets/styles/variables' as *;
@use '../../assets/styles/mixins' as *;

.container {
  width: 100%;
  padding: 0 5%;
}

.layout {
  position: relative;
  width: 100%;
  max-width: 730px;
  margin: -40px auto 0 auto;
  padding-bottom: 176px;
  z-index: 1;
  & > * {
    background-color: var(--color-elements);
    transition: $Theme-transition;
  }
}

.banner {
  display: flex;
  flex-direction: row;
  height: 140px;
  border-radius: 7px;

  @include media(tablet-small, mobile-large, mobile-medium, mobile-small) {
    flex-direction: column;
    align-items: center;
    height: fit-content;
  }

  & > div:first-child {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 140px;
    padding: 30px;
    border-radius: 7px 0 0 7px;
    & img {
      width: 100%;
      height: fit-content;
    }
    @include media(tablet-small, mobile-large, mobile-medium, mobile-small) {
      width: 50px;
      height: 50px;
      padding: 0;
      border-radius: 15px;
      transform: translate(0, -50%);
      & img {
        height: fit-content;
        width: fit-content;
      }
    }
  }
  & > div:last-child {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    padding: 0 40px;
    align-items: center;

    @include media(tablet-small, mobile-large, mobile-medium, mobile-small) {
      flex-direction: column;
      align-items: center;
      & > div {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
  & button {
    grid-column: 2;
    padding: 0;
    background-color: #eff0fc;
    & span {
      color: $Violet;
      font-weight: 700;
    }
    &:hover {
      background-color: #c5c9f4;
    }

    @include media(tablet-small, mobile-large, mobile-medium, mobile-small) {
      margin: 32px 0;
    }
  }
}

.main {
  margin-top: 32px;
  padding: 48px;
  border-radius: 7px;
  & > div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    & p > span {
      margin: 0 10px;
      font-size: 32px;
      color: $Dark_Grey;
    }
    & h1 {
      margin: 6px 0;
    }

    @include media(tablet-small, mobile-large, mobile-medium, mobile-small) {
      flex-direction: column;
      & button {
        width: 100%;
        margin-top: 32px;
      }
    }
  }
  & > div:last-child {
    & p:first-child {
      margin: 40px 0;
    }
    & p:not(:first-child) {
      margin-bottom: 24px;
    }
    & h3 {
      margin-bottom: 28px;
    }
    & ul {
      margin-bottom: 48px;
    }
    ol {
      & li::marker {
        font-weight: 700;
        color: $Violet;
      }
    }
    li {
      line-height: 1.6rem;
      margin: 8px 0;
    }
  }
}

.footer {
  position: fixed;
  display: flex;
  justify-content: center;
  align-content: center;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 96px;
  padding: 0 10%;
  & > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 730px;
    margin: auto 0;
  }
  & h3 {
    margin-bottom: 5px;
  }

  @include media(tablet-small, mobile-large, mobile-medium, mobile-small) {
    & div > div {
      display: none;
    }
    & button {
      width: 100%;
    }
  }
}
