@use '#Sass/abstracts/colors' as c;
@use '#Sass/abstracts/functions' as f;
@use '#Sass/abstracts/media-queries' as mq;
@use '#Sass/abstracts/mixins' as mx;
@use '#Sass/abstracts/variables' as v;

.nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: f.px2em(35) v.$padding-desktop-horizontal;
  background-color: c.$col-2c;

  &__menuBtn {
    display: none;
  }

  &__cartBtn {
    position: relative;
    background-color: transparent;
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 35px;
      height: 35px;
      transform: translate(-50%, -50%);
    }
  }

  &__logo {
    height: 25px;
  }

  &__links {
    display: flex;
    justify-content: space-between;
    column-gap: f.px2em(34);
  }

  &__link {
    @include mx.header-subtitle;
    color: c.$col-2b;

    &:hover {
      color: c.$col-1a;
    }
  }

  &__icon {
    height: 20px;
  }
}

.menuModal {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: c.$col-3f;
  z-index: 5;

  &__container {
    background-color: c.$col-2b;
    border-radius: 0 0 8px 8px;
  }
}

.menuCart {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: c.$col-3f;
  z-index: 5;

  &__container {
    display: flex;
    justify-content: flex-end;
    margin-top: 32px;
    margin-right: v.$padding-desktop-horizontal;
  }
}

.menuCategoryModalOpen {
  display: block;
}

.menuCartModalOpen {
  display: block;
}

/* -------------------------------- */
/*   Media Queries                  */
/* -------------------------------- */

.nav {
  @include mq.media(desktop-small) {
    padding: f.px2em(35) v.$padding-desktop-small-horizontal;
  }

  @include mq.media(desktop-mini, desktop-micro) {
    padding: f.px2em(35) v.$padding-desktop-mini-horizontal;
  }

  @include mq.media(tablet-large) {
    padding: f.px2em(35) v.$padding-tablet-horizontal;
  }

  @include mq.media(tablet-regular, tablet-small) {
    padding: f.px2em(32) v.$padding-tablet-small-horizontal;
    justify-content: flex-start;
    column-gap: 42px;
  }

  @include mq.media(tablet-mini, tablet-micro) {
    padding: f.px2em(32) v.$padding-tablet-mini-horizontal;
    justify-content: flex-start;
    column-gap: 42px;
  }

  @include mq.media(mobile-all) {
    padding: f.px2em(32) v.$padding-mobile-horizontal;
    justify-content: space-between;
  }

  &__menuBtn {
    @include mq.media(
      tablet-regular,
      tablet-small,
      tablet-mini,
      tablet-micro,
      mobile-all
    ) {
      display: block;
      background-color: transparent;
      width: fit-content;
      height: fit-content;
    }
  }

  &__cartBtn {
    @include mq.media(tablet-regular, tablet-small, tablet-mini, tablet-micro) {
      margin-left: auto;
    }
  }

  &__links {
    @include mq.media(
      tablet-regular,
      tablet-small,
      tablet-mini,
      tablet-micro,
      mobile-all
    ) {
      display: none;
    }
  }
}

.menuModal {
  &__container {
    @include mq.media(tablet-regular, tablet-small) {
      padding: f.px2em(32) v.$padding-tablet-small-horizontal;
    }

    @include mq.media(tablet-mini, tablet-micro) {
      padding: f.px2em(32) v.$padding-tablet-mini-horizontal;
    }

    @include mq.media(mobile-all) {
      padding: f.px2em(32) v.$padding-mobile-horizontal;
    }
  }
}

.menuCart {
  &__container {
    @include mq.media(desktop-small) {
      margin-right: v.$padding-desktop-small-horizontal;
    }

    @include mq.media(desktop-mini, desktop-micro) {
      margin-right: v.$padding-desktop-mini-horizontal;
    }

    @include mq.media(tablet-large) {
      margin-right: v.$padding-tablet-horizontal;
    }

    @include mq.media(tablet-regular, tablet-small) {
      margin-right: v.$padding-tablet-small-horizontal;
    }

    @include mq.media(tablet-mini, tablet-micro) {
      margin-right: v.$padding-tablet-mini-horizontal;
    }

    @include mq.media(mobile-all) {
      margin-left: v.$padding-mobile-horizontal;
      margin-right: v.$padding-mobile-horizontal;
    }
  }
}

.menuCategoryModalOpen {
  @include mq.media(desktop-all, tablet-large) {
    display: none;
  }
}
