@use '../../../assets/sass/variables' as *;
@use '../../../assets/sass/mixins' as *;
@use '../../../assets/sass/functions' as f;

.dropdown {
  display: flex;
  flex-direction: column-reverse;
  width: 255px;
  height: fit-content;

  &__current {
    display: flex;
    align-items: center;
    column-gap: f.px2em(8);

    & > button {
      @include body-3;
      background-color: transparent;
      color: $dim-grey;
    }

    & > img {
      filter: brightness(100);
    }
  }
}

.hidden {
  opacity: 0;
  height: 0;
}
