@use '../../../assets/sass/variables' as *;
@use '../../../assets/sass/mixins' as *;
@use '../../../assets/sass/functions' as f;

.dropdown {
  display: flex;
  flex-direction: column;
  width: 255px;
  height: fit-content;

  &__current {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: f.px2em(8);
    width: fit-content;
    background-color: transparent;
    color: $dim-grey;
  }

  &__sortBy {
    @include body-4;
  }

  &__sortedBy {
    @include body-5;
  }

  &__arrow {
    filter: brightness(100);
    transition: 0.4s;

    &--active {
      transform: rotateX(180deg);
    }
  }
}
