@use 'sass:color';
@use '../../../assets/sass/variables' as *;
@use '../../../assets/sass/mixins' as *;
@use '../../../assets/sass/functions' as f;

.list {
  position: absolute;
  transform: translateY(30%);
  width: 255px;
  list-style-type: none;
  background-color: $white;
  box-shadow: $box-shadow-1;
  border-radius: $border-radius-1;

  &__radio {
    display: none;

    &:checked + .list__label > .list__img {
      display: block;
    }
  }

  &__label {
    @include body-1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: f.px2em(12) f.px2em(24);
    color: $mute-blue;
  }

  &__li {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:hover .list__label {
      color: $magenta;
    }

    &:not(:last-child) {
      border-bottom: $border-bottom-li;
    }
  }

  &__img {
    display: none;
    width: fit-content;
    height: fit-content;
  }
}

.hidden {
  opacity: 0;
}
