@use '#Sass/abstracts/colors' as c;
@use '#Sass/abstracts/functions' as f;
// @use '#Sass/abstracts/media-queries' as mq;
@use '#Sass/abstracts/mixins' as mx;
@use '#Sass/abstracts/variables' as v;

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 240px;
  margin-bottom: f.px2em(40);
  background-color: c.$col-2c;

  &__title {
    @include mx.header-h2;
    color: c.$col-2b;
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 560px;
  row-gap: 160px;
  margin-bottom: f.px2em(200);
}

.productExampleShopList {
  margin-bottom: f.px2em(160);
}

.companyStatement {
  margin-bottom: f.px2em(40);
}
