@use '#Sass/abstracts/colors' as c;
@use '#Sass/abstracts/functions' as f;
@use '#Sass/abstracts/mixins' as mx;
// @use '#Sass/abstracts/media-queries' as mq;
@use '#Sass/abstracts/variables' as v;

.btnBack {
  @include mx.body-regular;
  margin-bottom: 56px;
  background-color: transparent;
  color: c.$col-3a;
  text-transform: capitalize;
}

.alternatives {
  @include mx.header-h3;
  margin-bottom: 64px;
  text-align: center;
}

.productDetailCard {
  margin-bottom: f.px2em(160);
}

.productImageGrid {
  margin-bottom: f.px2em(160);
}

.productExampleSeeList {
  margin-bottom: f.px2em(160);
}

.productExampleShopList {
  margin-bottom: f.px2em(160);
}

.companyStatement {
  margin-bottom: f.px2em(40);
}
