<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="manifest" href="assets-manifest.json" />
    <meta charset="UTF-8" />
    <meta name="description" content="Audiophile eCommerce | FrontEndMentor" />
    <meta name="author" content="Simon Stranks" />
    <meta
      name="keywords"
      content="HTML, CSS, JavaScript, SASS, React, Webpack, NodeJS, MongoDB, Express, Docker" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Audiophile eCommerce | Front End Mentor Challenge</title>
    <link
      rel="preload"
      as="image"
      type="image/jpeg"
      imagesrcset="<%= PUBLIC_URL %>/img/home/desktop/image-hero.jpg 992w, <%= PUBLIC_URL %>/img/home/tablet/image-header.jpg 991w, <%= PUBLIC_URL %>/img/home/mobile/image-header.jpg 575w"
      imagesizes="(max-width: 575px) 575px, (max-width: 991px) 991w, 992px" />
  </head>
  <body>
    <div id="root" aria-hidden="false"></div>
  </body>
</html>
